appdirs==1.4.3
certifi==2017.7.27.1
colorama==0.3.9
Django==1.11.4
future==0.16.0
mod-wsgi==4.5.18
psutil==5.3.1
pypiwin32==220
python-telegram-bot==8.0
pytz==2017.2
pywin32-ctypes==0.1.2
telegram-send==0.14
xmltodict==0.11.0

