{% extends "outer_layout.html" %}
{% block title %}
    {% if validlink %} Reset Password {% else %} {{ title }} {% endif %}
{% endblock title %}

{% block main_container %}
<div class="panel panel-default w-block">
    <div class="panel-heading">
        {% if validlink %} Reset Password {% else %} {{ title }} {% endif %}
    </div>
    <div class="panel-body">
        {% if validlink %}
            <form method="post">{% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="align-right">
                    <button type="submit" class="btn btn-info">Save & Sign In</button>
                </div>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
            <div class="align-right">
                <a href="/" class="btn btn-default">Cancel</a>
                <a href="{% url 'password_reset' %}" class="btn btn-info">Request New Reset</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock main_container %}
