{% extends "outer_layout.html" %}

{% block title %}Request Passowrd Reset{% endblock title %}
{% block main_container %}
<div class="panel panel-default w-block">
    <div class="panel-heading">Reset Password</div>
    <div class="panel-body">
        <form method="post">{% csrf_token %}
            <div class="form-group">
                {{ form.email.errors }}
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="align-right">
                <a  class="btn btn-default" href="{% url 'sign_in' %}">Cancel</a>
                <button type="submit"  class="btn btn-info">Request Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock main_container %}
