{% extends "inner_layout.html" %}

{% load static %}

{% block main_container %}
<!--    <div id="alert-area">
        <div class="alert alert-danger hid" role="alert">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="alert-content"></div>
        </div>
    </div>-->
    <main class="account_form user-account grid">
         <nav class="account_tab-links grid">
            <div class="account_tab-link grid active">
                <a href="#account-details" class="grid" aria-controls="account-details">
                    <span>Account Details</span>
                </a>
            </div>
            <div class="account_tab-link grid">
                <a href="#change-email" class="grid" aria-controls="change-email">
                    <span>Change Email</span>
                </a>
            </div>
            <div class="account_tab-link grid">
                <a href="#change-password" class="grid" aria-controls="change-password">
                    <span>Change Password</span>
                </a>
            </div>
        </nav>

        <div class="tab-container">
            <div class="header">
                <h1>Welcome, <em>{{ user.first_name }}</em></h1>
            </div>
            <div class="account-tab active" id="account-details">
                <div class="form-group">
                    <label for="user-name">First Name</label>
                    <input id="user-name" type="text" class="form-control" value="{{ user.first_name }}">
                </div>
                <div class="form-group">
                    <!--<button id="save-name" class="btn btn-info" role="button">Save</button>-->
                    <a href="#" id="save-name" class="form-button">
                        <span>Save</span>
                    </a>
                </div>
            </div>
            <div class="account-tab" role="tabpanel" id="change-email">
                <div class="form-group">
                    <label for="current-email">Current Email Address</label>
                    <input id="current-email" type="text" class="form-control"
                           value="{{ user.email }}" disabled>
                </div>
                <div class="form-group">
                    <label for="current-passwd1">Current Password</label>
                    <input type="password" class="form-control" id="current-passwd1">
                </div>
                <div class="form-group">
                    <label for="new-email">New Email Address</label>
                    <input id="new-email" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <!--<button id="save-email" class="btn btn-info">Save</button>-->
                    <a href="#" id="save-email" class="form-button">
                        <span>Save</span>
                    </a>
                </div>
            </div>
            <div class="account-tab" role="tabpanel" id="change-password">
                <div class="form-group">
                    <label for="current-passwd2">Current Password</label>
                    <input id="current-passwd2" type="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="new-passwd">New Password</label>
                    <input id="new-passwd" type="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="re-passwd">Re-Type New Password</label>
                    <input id="re-passwd" type="password" class="form-control">
                </div>
                <div class="form-group">
                    <!--<button id="save-passwd" class="btn btn-info">Save</button>-->
                    <a href="#" id="save-passwd" class="form-button">
                        <span>Save</span>
                    </a>
                </div>
            </div>
        </div>

    </main>

{% endblock main_container %}

{% block js %}
    <script src="{% static 'domeuser/js/account.js' %}"></script>
{% endblock js %}
