{% extends "outer_layout.html" %}

{% block main_container %}
    <div class="panel panel-default w-block">
        <div class="panel-heading">Create Account</div>
        <div class="panel-body">
            <form action="{{ app_path }}" method="post" id="reg-form">{% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="align-right">
                    <a class="btn btn-default" href="{% url 'sign_in' %}">Sign In</a>
                    <button type="submit" class="btn btn-info">Create Account</button>
                </div>
            </form>
        </div>
    </div>
{% endblock main_container %}
