header {
    margin-top: 5px;
}
.align-right {
    text-align: right;
}
.hid {
    display: none;
}
.w-block {
    max-width: 500px;
    margin: auto;
}
.w-block-wide {
    max-width: 800px;
    margin: auto;
}
.inner-layout .w-block {
    max-width: 550px;
}
.center-logo {
    width: 40%;
    margin: 30px auto 25px;
    display: block;
}
.left-logo {
    width: 50%;
    margin: 10px auto 25px;
}
.errorlist {
    list-style: none;
    color: red;
    text-align: right;
    margin: 0 0 -5px;
}
.center-errors .errorlist {
    margin: 0
}
.panel-heading .pull-left {
    margin-top: 5px;
}
.form-error-list {
    color: red;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.border {
    border: 1px solid;
}
.td-left {
    background: #666;
    width: 150px;
    color: #fff;
}
.td-left, .td-right {
    padding: 15px 10px;
}
.fileinput-preview.thumbnail {
    line-height: 248px;
}
.fileinput-preview.thumbnail img {
    display: inline;
}
.fileinput-preview-wrapper {
    width: 250px;
    height: 250px;
    position: relative;
    border: 1px dashed #737373;
    margin-top: 10px;
}
.fileinput-preview-wrapper p {
    width: 160px;
    position: absolute;
    top: 85px;
    left: 42px;
    text-align: center;
}
.fileinput-preview-wrapper .fileinput-preview.thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
.fileinput-exists .fileinput-preview.thumbnail {
    background: #fff;
}
.flex {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.text-img-block {
    min-height: 300px;
}
.hidden {
    display: none;
}
#answer-block {
    margin-bottom: 20px;
}
.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 1px solid #868686;
    margin-bottom: 10px;
    min-height: 34px;
    border-radius: 3px;
}
.handle-list {
    cursor: pointer;
    padding: 0 5px;
    font-size: 20px;
    align-self: center;
    flex-flow: column wrap;
}
.handle-list div {
    margin: 1px;
    width: 20px;
    background: #868686;
    height: 4px;
    border-radius: 2px;
}
.answer-text,
.flex-row .grow1 {
    flex-grow: 1;
    min-width: 20%;
    padding: 0 5px;
    align-self: center;
}
.flex-row .w30 {
    width: 30%;
    padding: 0 5px;
    align-self: center;
    font-weight: bold;
}
.flex-row .flrow-a-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}
.flex-row .flrow-a-btn:hover {
    background-color: #DDDDDD;
}
.answer-text input {
    border: none;
    box-shadow: none;
}
.answer-text,
.is-correct,
.handle-list {
    align-items: center;
    display: flex;
}
.is-correct {
    padding: 0 10px;
    border-right: 1px solid #fff;
}
.is-correct,
.answer-delete {
    background: #868686;
    color: #fff;
}
.answer-delete {
    width: 30px;
    border: none;
}
.answer-delete:hover {
    font-weight: bolder;
}
.is-correct label,
.is-correct input {
    margin: 0;
    font-weight: normal;
}
.is-correct input[type='checkbox'] {
    vertical-align: sub;
}
label {
    font-weight: normal;
}
.grey {
    background-color: #CCCCCC;
}
.wide {
    padding-left: 20px;
    padding-right: 20px;
}
.sortable-ghost {
    opacity: 0;
}
.info-page {
    background-color: #F2F2F2;
}
.flex-rw {
    display: flex;
    flex-flow: row wrap;
}
.fx-aife {
    align-items: flex-end;
}
.fx-jcsb {
    justify-content: space-between;
}
.fx-g1 {
    flex-grow: 1;
}
.marg-b {
    margin-bottom: 10px;
}
.marg-tb {
    margin-top: 15px;
    margin-bottom: 40px;
}
.marg5 {
    margin: 5px;
}
.marg-t50 {
    margin-top: 50px;
}
.tab-content.central {
    max-width: 300px;
    margin: 20px auto 60px;
    min-height: 300px;
}
.tab-content.central input {
    margin-bottom: 10px;
}
#alert-area {
    max-width: 600px;
    margin: 10px auto;
    min-height: 52px;
}
#alert-area .alert {
    margin: 0;
}
.panel-content {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}
.mdl-preview {
    width: 180px;
    height: 220px;
    border: 1px solid #CCC;
    margin: 10px;
    text-align: center;
}
a.mdl-preview {
    padding: 70px 20px;
    text-decoration: none;
    color: #808080;
}
.mdl-preview p {
    height: 45px;
    padding-top: 10px;
}
.mdl-preview p.empty {
    border: 1px solid #333;
    padding: 5px;
    margin: -1px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mdl-preview .btn {
    margin: 0 4px;
}
#study-settings .modal-body {
    text-align: center;
}
.pr-wrapper {
    border: 1px solid #333;
    border-radius: 3px;
}
.pr-bar {
    background-color: #FF834F;
}
#study-progress {
    margin: auto -5px;
}
#study-progress .btn{
    width: 130px;
}
#study-progress .progress {
    height: inherit;
}
#study-progress .progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    background-color: #FF9C42;
    height: 33px;
}
#quiz-content {
    margin: auto 40px;
}
#quiz-content img {
    width: 250px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}
#quiz-content input[type='text'] {
    max-width: 350px
}
#quiz-content label {
    display: inline;
}
.mt15 {
    margin-top: 15px;
}
.mt40 {
    margin-top: 40px;
}
#answer-response {
    padding-bottom: 20px;
    display: inline-block;
    min-width: 200px;
    margin-top: 30px;
}
#quiz-content .alert {
    clear: both;
}
.lstyle-no {
    list-style: none;
}
#score-block {
    text-align: center;
    padding-top: 20px;
}
#score-block a.btn {
    width: 200px;
}
#score-block h3 {
    font-weight: bolder;
}
#score {
    font-size: 24px;
    margin-bottom: 30px;
}
.error {
    color: red;
    font-size: large;
}
.info {
    color: #009688;
    font-size: large;
}

.incorrect {
    color: white;
    background-color: red;
    position: absolute;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-left: 32px;
    padding: 4px 15px 4px 5px;
}

.incorrect:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 13px solid red;
    border-bottom: 15px solid transparent;
    margin: -4px 0 0 -18px;
}

.dashboard-module-image {
    height: 120px;
    background-size: cover !important;
}

.details-module-image {
    width: 100%;
    /*height: 200px;*/
    background-size: cover !important;
}


.hidden-btn {
   visibility: hidden;
}

.input_wrapper {
    position: relative;
}

#monetize-module-form .form-group {
    margin-top: 15px;
}
.monetize_btn button {
    float: left;
    width: 45%;
    min-width: 150px;
    max-width: 200px;
    margin-top: 39px;
    margin-right: 10px;
}

@media (max-width: 1199px) {
    .monetize_btn {
        padding-top: 39px;
    }
    .monetize_btn button {
        margin: 0;
    }
}

@media (max-width: 991px) {
    .monetize_btn {
        padding-top: 0px;
    }
    .monetize_btn button {
        margin: 0 10px 0 0;
    }
}

.fileinput #initial-img {
    /*max-width: 100%;*/
    /*margin-top: 6px;*/

    max-width: 100%;
    /*height: 100%;*/
    vertical-align: top;
}

.fileinput {
    width: 100%;
}

.ckeditor-wraper{
    width: 100%;
}

.form-inline .form-control{
    display: inline-block;
    width: 33.5%;
    vertical-align: middle;
}

.form-inline {
    margin-left: 10px;
}

.change-message {
    display: none;
}

.text-details {
    margin-top: 10px;
    font-family: "Times New Roman", Georgia, Serif;
}

.text-details p {
    font-size: 25px;
    line-height: 24px;
    margin: 0;
}

.text-details span {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}