{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<p>Base control</p>



<div class="col-sm-2 btn-group">
    <a href="{% url 'base' base_action='Projectors_ON' %}" class="flrow-a-btn wide grey"><span>Switch projectors ON</span></a>
</div>

<div class="col-sm-2 btn-group">
    <a href="{% url 'base' base_action='Projectors_OFF' %}" class="flrow-a-btn wide grey"><span>Switch projectors OFF</span></a>
</div>




<div class="col-sm-2 btn-group">
    <a href="{% url 'base' base_action='Start' %}" class="flrow-a-btn wide grey"><span>Start system</span></a>
</div>

<div class="col-sm-2 btn-group">
    <a href="{% url 'base' base_action='Stop' %}" class="flrow-a-btn wide grey"><span>Stop system</span></a>
</div>


<div class="col-sm-12">
    RESULT: <code>{{ data_context|linebreaks }}</code><br><br>
</div>

