{% extends "inner_layout.html" %}

{% load staticfiles %}

{% block aside_bar %}

    <div class="playlist grid" role="group" aria-label="...">
        <li>
            <a href="{% url 'dome:mosaic' mosaic_action='Start' %}"><span>Start</span></a>
            <a href="{% url 'dome:mosaic' mosaic_action='Stop' %}"><span>Stop</span></a>
            <a href="{% url 'dome:mosaic' mosaic_action='Restart' %}"><span>Restart</span></a>
            <a href="{% url 'dome:mosaic' mosaic_action='State' %}"><span>State</span></a>
            <br> <br>
            <a href="{% url 'dome:vlc' vlc_action='Start' %}"><span>Start_"vlc.exe"</span></a>
            <a href="{% url 'dome:vlc' vlc_action='Stop' %}"><span>Stop_"vlc.exe"</span></a>
            <br> <br>
            <a href="{% url 'dome:winapi' winapi_action='setPrimaryMonitor' %}"><span>setPrimaryMonitor</span></a>
            <a href="{% url 'dome:winapi' winapi_action='EnableOneProjector' %}"><span>EnableOneProjector</span></a>
            <a href="{% url 'dome:winapi' winapi_action='WinapiInfo' %}"><span>WinAPI_Info</span></a>
            <br> <br>
            <a href="{% url 'dome:displaypro' action='start' %}"><span>Start_"DisplayPro"</span></a>
            <a href="{% url 'dome:displaypro' action='stop' %}"><span>Stop_"DisplayPro"</span></a>
            <a href="{% url 'dome:displaypro' action='setconfig' param='1' %}"><span>setconfig_1</span></a>
            <a href="{% url 'dome:displaypro' action='setconfig' param='2' %}"><span>setconfig_2</span></a>
            <a href="{% url 'dome:displaypro' action='setconfig' param='3' %}"><span>setconfig_3</span></a>
            <a href="{% url 'dome:displaypro' action='setdesktopwarping' param='0' %}"><span>setdesktopwarping_0</span></a>
            <a href="{% url 'dome:displaypro' action='setdesktopwarping' param='1' %}"><span>setdesktopwarping_1</span></a>
        </li>
    </div>

{% endblock aside_bar %}

{% block main_bar %}
    <div>
        <code>{{ data_context|linebreaks }}</code><br><br>
    </div>

{% endblock main_bar %}


{% block js %}

{#    <script src="{% static 'madquiz/js/dashboard.js' %}"></script>#}

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock js %}


