{% extends "inner_layout.html" %}

{% load staticfiles %}


{% block aside_bar %}
    <aside class="sidebar sidebar-playlists">
        <div class="sidebar-playlists-new">
            <a href="#" class="sidebar-playlists-new-button">
                <a href="{% url 'new_playlist' %}" class="btn btn-default"><span>Новый плейлист</span></a>
            </a>
        </div>
        {#==================================================================#}
        {% if object_list %}
            {% for playlist in playlists %}
                <div class="playlists-item playlists-item-1">
                    <p title="ID: {{ playlist.id }}, ver: {{ playlist.title }}">
{#                        {{ playlist.title }}#}
                        <span>{{ playlist.title }}</span>
                    </p>
                    <a class="btn btn-default grey" href="{% url 'edit_playlist' playlist_id=playlist.id %}">Edit</a>
                </div>

            {% endfor %}
        {% endif %}
        {#==================================================================#}
    </aside>
{% endblock aside_bar %}


{% block main_bar %}
    <div class="playlist-current">
        <div class="playlist-title">
            <h2>Имя активного плейлиста</h2>
            <a href="#" title="Добавить видео" class="playlist-video-add icon icon-add-video">
            </a>
            <a href="#expand" title="Развернуть" class="playlist-expand icon icon-expand pressed">
            </a>
            <a href="#collapse" title="Свернуть" class="playlist-collapse icon icon-collapse">
            </a>
        </div>
        <div class="playlist-player">
            <div class="playlist-player-play">
                <span class="icon-player-play">Play</span>
            </div>
            <div class="playlist-player-stop">
                <span class="icon-player-stop">Stop</span>
            </div>
            <div class="playlist-player-current-position">
                <span>8:20</span>
            </div>
            <div class="playlist-player-bar">
                <span>Progress bar</span>
            </div>
            <div class="playlist-player-duration">
                <span class="player-duration">15:20</span>
            </div>
            <div class="playlist-player-volume-icon">
                <span class="player-volume-icon">Volume icon</span>
            </div>
            <div class="playlist-player-volume-bar">
                <span class="player-volume-bar">Volume bar</span>
            </div>
            <div class="playlist-player-volume-value">
                <span class="player-volume-value">82%</span>
            </div>
            <div class="playlist-player-lock">
                <span class="icon-player-lock">Lock</span>
            </div>
            <div class="playlist-player-repeat">
                <span class="icon-player-repeat">Repeat</span>
            </div>
            <div class="playlist-player-full">
                <span class="icon-player-full">Full</span>
            </div>
        </div>
        <div class="playlist-items-container">
            {% for item in playitem_qs %}
                <div class="playlist-item">
                    <div class="playlist-item-move">
                        <span class="icon-move"></span>
                    </div>
                    <div class="playlist-item-poster-play">
                        <div class="playlist-item-play">
                            <span class="icon-play"></span>
                        </div>
                        <div class="playlist-item-poster">
                            <img  class="playlist-item-poster-img">
                        </div>
                    </div>
                    <div class="playlist-item-title">
                        <h3>{{ item.title }}</h3>
                    </div>
                    <div class="playlist-item-info">
                        <div class="playlist-item-info-time">
                            <span class="icon icon-time">15:20</span>
                        </div>
                        <div class="playlist-item-info-size">
                            <span class="icon icon-size">4096x4096@23.97fps</span>
                        </div>
                        <div class="playlist-item-info-bitrate">
                            <span class="icon icon-bitrate">384 kbps</span>
                        </div>
                    </div>
                    <div class="playlist-item-trash">
                        <span class="icon-trash"></span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main_bar %}



{% block js %}
    <script src="{% static 'domeplaylist/js/firefly.js' %}"></script>
    <script src="{% static 'domeplaylist/js/jquery.js' %}"></script>

{#    <script type="text/javascript">#}
{#        $(document).ready(function () {#}
{##}
{#        });#}
{#    </script>#}
{% endblock js %}
