{% extends "inner_layout.html" %}

{% load staticfiles %}

{% block title %} {{ object.name }} {% endblock title %}

{% block mc_header_left %} Editing: {{ object.name }}
{% endblock mc_header_left %}

{% block mc_header_right %}{% endblock mc_header_right %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'lib/jasny-bootstrap/css/jasny-bootstrap.min.css' %}">
{% endblock css %}

{% block mc_body %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a class="tab_pages" data-toggle="tab" href="#pages">Pages</a>
        </li>
        <li><a class="tab_settings" data-toggle="tab" href="#settings">Settings</a></li>
        <li><a class="tab_share" data-toggle="tab" href="#share">Share</a></li>
{#        <li><a class="tab_monetize" href="{% url 'monetize_module' module_id=object.id %}">Monetize</a></li>#}
        <li style="float: right;">
{#            <button class="study btn btn-info" data-toggle="modal" data-target="#study-settings"#}
{#                    data-url="{% url 'study_module_start' module_id=object.id %}">Study#}
{#            </button>#}
        </li>
    </ul>

    <div class="tab-content">
    <div id="pages" class="tab-pane fade in active">
        <div class="marg-tb">

            {% if object.frozen_at %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        This module was frozen. To continue editing, create a new copy of the module on the tab "Settings"
                    </div>
                </div>
            {% else %}

                <div>
{#                    <a href="{% url 'choose_page_type' module_id=object.id %}" class="btn btn-info marg-b">Add New Page</a>#}
                </div>
                <div id="page-list">
                    {% for playitem in pages %}
                        <div class="flex-row {% if playitem.page_type == 1 %} info-page {% endif %}"
                            data-page-id="{{ playitem.id }}">
                            <div class="handle-list">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="w30">{{ playitem.get_page_type_display }}</div>
                            <div class="grow1">{{ playitem.title }}</div>
                            <div class="grow1">{{ playitem.text }}</div>
                        </div>
                    {% endfor %}
                </div>

            {% endif %}

        </div>
    </div>

    <div id="settings" class="tab-pane fade">
        <div class="marg-tb">

{#            {% include "madquiz/form_module.html" with submit_btn_name="Save Changes" form=form %}#}

            <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">
                Delete Module
            </button>
        </div>
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Deletion</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this module?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Cancel
                    </button>
{#                    <form action="{% url 'delete_module' module_id=object.id %}"#}
{#                          style="display:inline" method="post">#}
{#                        {% csrf_token %}#}
{#                        <button type="submit" name="post" value="yes"#}
{#                                class="btn btn-danger btn-ok">Delete#}
{#                        </button>#}
{#                    </form>#}
                </div>
            </div>
        </div>
    </div>

{#    {% include "madquiz/modal_study_settings.html" %}#}
{#    {% include "madquiz/modal_message.html" %}#}

{% endblock mc_body %}

{% block js %}
    <script src="{% static 'lib/Sortable.min.js' %}"></script>
    <script src="{% static 'lib/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'lib/jasny-bootstrap/js/jasny-bootstrap.min.js' %}"></script>
{#    <script src="{% static 'madquiz/js/module_edit.js' %}"></script>#}
{% endblock js %}