{% extends "inner_layout.html" %}

{% load staticfiles %}

{#{% load custom_tags %}#}

{% block title %} {{ title }} {% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'lib/jasny-bootstrap/css/jasny-bootstrap.min.css' %}">
{% endblock css %}

{% block mc_header_left %} {{ ptitle }} {% endblock mc_header_left %}

{% block mc_header_right %}
    <a href="{{ back_url }}" class="btn btn-default">Back</a>
{% endblock mc_header_right %}

{% block mc_body %}
    <form action="" id="page-form" method="post" class="w-block-wide" enctype="multipart/form-data"
          onsubmit="return pageFormSubmit()">
        {% csrf_token %}
        <div class="form-errors">
            {% for error in form.non_field_errors %}
                <p class="form-error-list">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.title.errors }}
            {% if not page_type.answer %}
                <label>Text:</label>
            {% else %}
                {{ form.title.label_tag }}
            {% endif %}

            <div class="flex-row">
                {{ form.title }}
                <button class="butt js--triggerAnimation"
                        onclick="responsiveVoice.speak($('#id_title').val(), 'US English Male');" type="button"
                        value="Play">
                    <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        {% if page_type.answer != 'video' %}
            <div class="form-group flex text-img-block">
                <div>
                    {{ form.text.errors }}
                    {{ form.text.label_tag }}
                    {{ form.text }}
                </div>
                <div class="mt15 {% if form.instance.image %} fileinput-exists {% else %} fileinput-new {% endif %}"
                     data-provides="fileinput">
                    <div class="fileinput-preview-wrapper">
                        <p>Click to upload an image. Images will be displayed 250px by 250px.</p>
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                            {% if form.instance.image %}
                                <img id="initial-img" src="{{ form.instance.image.url }}" alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div>
                    <span class="btn btn-default btn-file" style="display:none">
                        {{ form.image }}
                    </span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if page_type.answer == 'video' %}
            <div class="center-errors">{{ form.video_type.errors }}</div>
            {% for radio in form.video_type %}
                <div class="form-group border">
                    <table style="width: 100%">
                        <tr>
                            <td class="td-left">
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                            </td>
                            <td class="td-right">
                                {% if forloop.first %}
                                    <div class="form-group">
{#                                        {{ form.video.errors }}#}
{#                                        <label>{% video_type_info radio.choice_value %} URL:</label>#}
{#                                        {{ form.video }}#}
                                    </div>
                                {% else %}
                                    <div class="form-group">
{#                                        {{ form.video_vimeo.errors }}#}
{#                                        <label>{% video_type_info radio.choice_value %} URL:</label>#}
{#                                        {{ form.video_vimeo }}#}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        {% endif %}

        <div id="answer-block">
            {% for error in answer_formset.errors %}
                <p class="form-error-list">{{ error }}</p>
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p class="form-error-list">{{ error }}</p>
            {% endfor %}
            {% if page_type.answer == 'checkbox' or page_type.answer == 'radio' %}
                <div class="flex">
                    <span>Answers</span>
                    <label>{{ form.randomize }} {{ form.randomize.label }}</label>
                </div>

                <div class="input_wrapper">
                    <div id="new-answer-form" class="input-group form-group" style="margin-right: 65px;">
                        <input id="new-answer-text" type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default grey wide" type="button">Add</button>
                        </span>
                    </div>
                    <button class="btn btn-default blue wide" style="position: absolute; top: 0; right: 1px;"
                            onclick="responsiveVoice.speak($('#new-answer-text').val(), 'US English Male')"
                            type="button" value="Play">
                        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                    </button>
                </div>

                <div id="all-answers">
                    <div id="answer-list">
                        {% if answer_formset.total_form_count > 1 %}
                            {% for answer_form in answer_formset %}
                                {% include "madquiz/multiple_answer.html" %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div id="answer-list-add">
                    </div>
                </div>
            {% elif page_type.answer == 'text' %}
                {% for answer_form in answer_formset %}
                    <div class="flex">
                        <span>Correct Answer</span>
                        <label>{{ form.randomize }} Case Sensitive</label>
                    </div>
                    {{ answer_form.title }}

                    {% if answer_form.id %}
                        <div class="hidden">{{ answer_form.id }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {{ answer_formset.management_form }}
        </div>
        <div class="flex">
            <div>
                {% if form.instance.id %}
                    <button type="button" id="delete-page" class="btn btn-default grey"
                            data-toggle="modal" data-target="#confirm-delete">Delete
                    </button>
                {% endif %}
            </div>
            <div>
                <button type="submit" class="btn btn-info">OK</button>
            </div>
        </div>
    </form>
    {% if page_type.answer == 'radio' or page_type.answer == 'checkbox' %}
        {% for answer_form in empty_answer_formset %}
            <div id="answer-template" class="hidden">
                {% include "madquiz/multiple_answer.html" %}
            </div>
        {% endfor %}
    {% endif %}

    {% if form.instance.id %}
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Confirm Deletion</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this page?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">Cancel
                        </button>
                        <form action="{% url 'delete_page' module_id=module_id page_id=form.instance.id %}"
                              style="display:inline" method="post">
                            {% csrf_token %}
                            <button type="submit" name="post" value="yes"
                                    class="btn btn-danger btn-ok">Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock mc_body %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'lib/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'lib/jasny-bootstrap/js/jasny-bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/Sortable.min.js' %}"></script>
    <script src="{% static 'madquiz/js/page_edit.js' %}"></script>
    {% if page_type.answer != 'video' %}

        <script type="text/javascript">
            {# TODO : extract js to js file #}
            CKEDITOR.replace('id_text',
                {
                    extraPlugins: 'responsivevoice',
                    toolbar: [
                        ['Bold', 'Italic', 'Underline', 'Strikethrough', 'Subscript', 'Superscript',
                            '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink', '-', 'About', '-'],
                        ['ResponsiveVoice']
                    ]
                });
        </script>
    {% endif %}
{% endblock js %}
