{% extends "inner_layout.html" %}


{% load static %}


{% block aside_bar %}

    <aside class="sidebar sidebar-playlists" data-playlist-count='{{ playlist_count }}'>
        <div class="sidebar-playlists-new">
{#            <a href="#" class="sidebar-playlists-new-button">#}
                <a href="{% url 'domeplaylist:new-playlist' %}" class="sidebar-playlists-new-button"><span>Новый плейлист</span></a>
{#            </a>#}
        </div>
        {#==================================================================#}
        {% if playlists_qs %}
            {% for playlist in playlists_qs %}
                <div class="playlists-item playlists-item-1 {% if playlist.id|stringformat:"i" == playlist_id_active %}active{% else %}{% endif %}"
                     title="ID: {{ playlist.id }}, ver: {{ playlist.title }}">
                    <a href="{% url 'domeplaylist:track-list' playlist_id=playlist.id %}"
                       class="playlists-item-link"><span>{{ playlist.title }}</span></a>
                </div>

            {% endfor %}
        {% endif %}
        {#==================================================================#}
    </aside>
{% endblock aside_bar %}


{% block main_bar %}
    <div class="playlist-current" data-playitem-count='{{ track_count }}'>
        <div class="playlist-title">
            <h2>Имя активного плейлиста</h2>
{#            {{ playlist_id_active }}#}
{#            <a href="{% url 'domeplaylist:track-new' playlist_id=playlist_id_active %}" title="Добавить видео" class="playlist-video-add icon icon-add-video"></a>#}
{#            <a href="{% url 'filemanager:add'%}" title="Добавить видео" class="playlist-video-add icon icon-add-video"></a>#}
            <a href="{% url 'filemanager:track-add' playlist_id_active=playlist_id_active %}" title="Добавить видео" class="playlist-video-add icon icon-add-video"></a>

            <a href="#expand" title="Развернуть" class="playlist-expand icon icon-expand pressed"></a>

            <a href="#collapse" title="Свернуть" class="playlist-collapse icon icon-collapse"></a>


        </div>
        <div class="playlist-player">
            <div class="playlist-player-play">
{#                <span href="{% url 'domeplaylist:play_playitem' playlist_id=2 playitem_id=2 %}" class="icon-player-play">Play</span>#}
                 <a href="{% url 'domeplaylist:track-play' playlist_id=1 track_id=1 %}" title="Play" class="icon-player-play">Play</a>
            </div>
            <div class="playlist-player-stop">
                <span class="icon-player-stop">Stop</span>
            </div>
            <div class="playlist-player-current-position">
                <span>8:20</span>
            </div>
            <div class="playlist-player-bar">
                <span>Progress bar</span>
            </div>
            <div class="playlist-player-duration">
                <span class="player-duration">15:20</span>
            </div>
            <div class="playlist-player-volume-icon">
                <span class="player-volume-icon">Volume icon</span>
            </div>
            <div class="playlist-player-volume-bar">
                <span class="player-volume-bar">Volume bar</span>
            </div>
            <div class="playlist-player-volume-value">
                <span class="player-volume-value">82%</span>
            </div>
            <div class="playlist-player-lock">
                <span class="icon-player-lock">Lock</span>
            </div>
            <div class="playlist-player-repeat">
                <span class="icon-player-repeat">Repeat</span>
            </div>
            <div class="playlist-player-full">
                <span class="icon-player-full">Full</span>
            </div>
        </div>
        <div class="playlist-items-container">
            {% for track in tracklist %}
                <div class="playlist-item">
                    <div class="playlist-item-move">
                        <span class="icon-move"></span>
                    </div>
                    <div class="playlist-item-poster-play">
                        <div class="playlist-item-play">
                            <span class="icon-play"></span>
                        </div>
                        <div class="playlist-item-poster">
                            <img class="playlist-item-poster-img">
                        </div>
                    </div>
                    <div class="playlist-item-title">
                        <h3>{{ track.title }}</h3>
                        <h2>{{ track.text }}</h2>
                    </div>
                    <div class="playlist-item-info">
                        <div class="playlist-item-info-time">
                            <span class="icon icon-time">15:20</span>
                        </div>
                        <div class="playlist-item-info-size">
                            <span class="icon icon-size">4096x4096@23.97fps</span>
                        </div>
                        <div class="playlist-item-info-bitrate">
                            <span class="icon icon-bitrate">384 kbps</span>
                        </div>
                    </div>
                    <div class="playlist-item-trash">
{#                        <span class="icon-trash"></span>#}
                        <a href="{% url 'domeplaylist:track-delete' playlist_id=playlist_id_active track_id=track.id %}" title="Удалить видео" class="icon-trash"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main_bar %}



{% block js %}
    <script src="{% static 'domeplaylist/js/firefly.js' %}"></script>
    <script src="{% static 'domeplaylist/js/jquery.js' %}"></script>

{#    <script type="text/javascript">#}
{#        $(document).ready(function () {#}
{##}
{#        });#}
{#    </script>#}
{% endblock js %}
