{% extends "inner_layout.html" %}

{% load static %}

{% block content %}
    <div class="page page-playlists grid">
        <aside id="play-list" class="playlists-container grid" data-playlist-count='{{ playlist_count }}'>
            <div class="playlist-add grid">
                <a href="{% url 'domeplaylist:new-playlist' %}" class="playlist-add-btn">
                    <span class="icon-add-playlist">Новый плейлист</span>
                </a>
            </div>
            {% if playlists_qs %}
                {% for playlist in playlists_qs %}
                    <div class="playlist grid {% if playlist.id|stringformat:"i" == playlist_id_active %}active{% else %}{% endif %}"
                         title="ID: {{ playlist.id }}, ver: {{ playlist.title }}"
                         data-playlist-num={{ playlist.id }}>
                        <div class="playlist-move">
                            <span class="icon-move"></span>
                        </div>
                        <a href="{% url 'domeplaylist:track-list' playlist_id=playlist.id %}"
                           class="playlist-link flex"><span>{{ playlist.title }}</span></a>
                        <div class="playlist-trash">
                            <form method="POST"
                                  action="{% url 'domeplaylist:playlist-delete' playlist_id=playlist.id %}">
                                {% csrf_token %}
                                <input type="submit" value="" title="Удалить плейлист">
                            </form>
                        </div>

                    </div>
                {% endfor %}
            {% endif %}
        </aside>
        <main class="playlist-current grid">
            <div class="title grid">
                <h2>Имя активного плейлиста</h2>
                <a href="{% url 'filemanager:track-add' playlist_id_active=playlist_id_active %}" title="Добавить видео"
                   class="playlist-add-track icon icon-add-track"></a>
                <a href="#expand" title="Развернуть" class="playlist-expand icon icon-expand pressed"></a>
                <a href="#collapse" title="Свернуть" class="playlist-collapse icon icon-collapse"></a>
            </div>
            <div class="player grid">
                <div class="player-play flex">
<!--                     <a id="buttonPlay" state = 'stopped' class="paused"
                       href="{% url 'domeplaylist:track-action' playlist_id=playlist_id_active track_id=-1 action='play' %}"
                       title="Play"></a> -->
                    <a id="buttonPlay" state='stopped' class="paused icon icon-play-small" title="Play"></a>
                </div>
                <div class="player-stop flex">
<!--                     <a id="buttonStop" href="{% url 'domeplaylist:track-action' playlist_id=playlist_id_active track_id=-1 action='stop' %}" title="Stop"></a> -->
                    <a id="buttonStop" class="icon icon-stop" title="Stop"></a>
                </div>
                <div id="currentTime" class="player-current-position flex dynamic"></div>
                <div class="player-progress-bar flex">
                    <div id="seekContainer">
                        <div id="seekSlider" title="Seek Time" class="bar-empty ui-slider ui-slider-horizontal">
                            <div class="ui-slider-range ui-slider-range-min"></div>
                            <a class="bar-marker ui-slider-handle ui-state-default" href="#"></a>
                        </div>
                    </div>
                </div>
                <div id="totalTime" class="player-duration flex dynamic">
                    00:00
                </div>
                <div class="player-volume-icon icon icon-volume flex"></div>
                <div class="player-volume-bar flex">
                    <div id="volumesliderzone">
                        <div id="volumeSlider" title="Volume" class="ui-slider ui-slider-horizontal bar-empty">
                            <div class="bar-marker ui-slider-handle ui-state-default volume-bar-marker"></div>
                            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
                        </div>
                    </div>
                </div>
                <div id="currentVolume" class="player-volume-value dynamic flex"></div>
{#                <div class="player-lock icon icon-lock flex"></div>#}
{#                <div id="buttonOpen" class="player-repeat icon icon-repeat flex"></div>#}
                <div class="player-full flex">
<!--                     <a id="buttonFull"
                       href="{% url 'domeplaylist:track-action' playlist_id=playlist_id_active track_id=-1 action='fullscreen' %}" title="Fullscreen"></a> -->
                     <a id="buttonFull" class="icon icon-full" title="Fullscreen"></a>
                </div>
                <div id='mediaTitle' class="played-track-name flex dynamic">
{#                    {% if track_id_active|stringformat:"i" == '-1' %}#}
                        <span></span>
{#                    {% else %}#}
{#                        <span></span>#}
{#                    {% endif %}#}
                </div>
            </div>
            <div id="track-list" class="tracks-container grid">
                {% if tracklist_qs %}
                    {% for track in tracklist_qs %}
                        <div class="track grid {% if track.id|stringformat:"i" == track_id_active %}active{% else %}{% endif %}"
                             data-track-num={{ track.id }}>
                            <div class="track-move">
                                <span class="icon-move"></span>
                            </div>
                            <div class="track-poster-play grid">
                                <div class="track-play flex">

                                    <span class="icon-play"></span>
                                </div>
                                <div class="track-poster">
                                    <img title="ID: {{ track.id }}">
                                </div>
                            </div>
                            <div class="track-title"
                                 title="codec_name: {{ track.codec_name }}, : {{ track.codec_long_name }}">
                                <h3>{{ track.title }}</h3>
                            </div>
                            <div class="track-info grid">
                                <div class="track-info-time">
                                    <span class="icon-time">{{ track.duration }}</span>
                                </div>
                                <div class="track-info-size">
                                    <span class="icon-size">{{ track.width }}*{{ track.height }}@{{ track.r_frame_rate }}fps</span>
                                </div>
                                <div class="track-info-bitrate">
                                    <span class="icon-bitrate">{{ track.bit_rate }}</span>
                                </div>
                            </div>
                            <div class="track-trash">
                                <a href="{% url 'domeplaylist:track-delete' playlist_id=playlist_id_active track_id=track.id %}"></a>
                                <form method="POST"
                                      action="{% url 'domeplaylist:track-delete' playlist_id=playlist_id_active track_id=track.id %}">
                                    {% csrf_token %}
                                    <input type="submit" value="" title="Удалить видео">
                                </form>
                            </div>

                            <div class="track-click-container" state='stopped' class="paused">

{#                                <a href="{% url 'domeplaylist:track-action' playlist_id=playlist_id_active track_id=track.id action='play' %}"#}
{#                       title="Play"></a>#}

{#                                <a id="buttonPlay" state = 'stopped' class="paused" title="Play"></a>#}

                            </div>


                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </main>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'domeplaylist/js/vlc_web/common.js' %}"></script>
    <script src="{% static 'lib/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'domeplaylist/js/vlc_web/jquery.jstree.js' %}"></script>
    <script src="{% static 'domeplaylist/js/vlc_web/ui.js' %}"></script>
    <script src="{% static 'domeplaylist/js/vlc_web/controlers.js' %}"></script>
    <script src="{% static 'domeplaylist/js/firefly.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.track').click(function () {

                var track = $('.track.active').data("trackNum");
                // console.log(track);

{#                var track_play_button = $('#track-play-button');#}
{#                var str_url = track_play_button.attr('href');#}
{#                // console.log(str_url);#}
{##}
{#                var res = str_url.split('/');#}
{#                res[4] = track;#}
{#                str_url = res.join('/');#}
{#                track_play_button.attr('href', str_url);#}

{#                var track_stop_button = $('#buttonStop');#}
{#                var str_url = track_stop_button.attr('href');#}
{#                var res = str_url.split('/');#}
{#                res[4] = track;#}
{#                str_url = res.join('/');#}
{#                track_stop_button.attr('href', str_url);#}

{#                var track_fullscreen_button = $('#track-fullscreen-button');#}
{#                var str_url = track_fullscreen_button.attr('href');#}
{#                var res = str_url.split('/');#}
{#                res[4] = track;#}
{#                str_url = res.join('/');#}
{#                track_fullscreen_button.attr('href', str_url);#}

            });

{#            var trackName = $('.track').find('.track-title h3').html();#}
{#            $('footer marquee span').html('Сейчас играет ' + trackName);#}
{#            console.log(mediaTitle+'1234');#}
{#            $('.played-track-name').find('span').html('Сейчас играет ' + trackName);#}


{#            $(".track-click-container").click(function () {#}
{#                window.location = $(this).find("a").attr("href");#}
{#                return false;#}
{#            });#}


        });



    </script>

{% endblock js %}