body {
    color: rgb(255, 255, 255)
}

a {
    text-decoration: none;
    color: #fff;
}

a:active {
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-gap: 0em;
    // grid-template-columns: 15% 1fr;
    grid-template-rows: 60px 1fr;
    // grid-template-areas:
    //     "header header"
    //     "content content";
}

header, nav, .status, .grid-tabs, .account, .link-playlists, .link-more {
    align-items: center;
    justify-items: center;
    width: 100%;
}

header {
    display: grid;
    background: rgb(19, 20, 24);
    grid-template-columns: 1.1fr 1.8fr 0.5fr 4.4fr 1.1fr;
    grid-row: 1/2;
    grid-column: 1/2;
    // grid-template-areas: "logo nav turn status account"; //238 170 119+1 (brdr) 148+1(brdr) 30+25+20+9+101+9++67+9+108+63+154+80+29+16+32
    text-align: left;
}

.logo, nav, .projectors-turn, .status, .account {
    grid-row: 1/2
}

header .logo {
    grid-column: 1/2;
}

.logo-img {
    content: url(../img/logo.svg);
}

header nav {
    grid-column: 2/3;
    display: grid;
    grid-template-areas: "playlists more";
    grid-template-columns: 1fr 0.6fr;
    height: 100%
}

nav .link-playlists, nav .link-more {
    text-decoration: none;
    height: 100%;
    color: rgb(102, 102, 102);
    display: flex;
    align-items: flex-end;
}

nav a:not(.tab-link-active):after {
    content:'';
    width: 0;
    height: 60%;
    border: 1px solid #1f1f27;
    margin-bottom: 8%;
}

nav a.link-more:before {
    content: url(../img/icon-more.svg);
    display: flex;
    align-items: center;
    height: 80%;
    padding-left: 15px;
}

nav .link-playlists span, nav .link-more span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

nav a.tab-link-active {
    background: rgb(31, 33, 39);
    color:#fff;

}

nav .link-playlists {
    grid-area: playlists;
}

nav .link-more {
    grid-area: more;
}

header .projectors-turn {
    grid-column: 3/4;
}

.icon-projectors-turn-on {
    content: url(../img/icon-projectors-turn-on.png);
    // width: 100%;
    // height: 100%;
}

// .icon-projectors-turn-on:before {
//     content: url(../img/icon-projectors-turn-on.svg);
// }

header .status {
    grid-column: 4/5;
    display: grid;
    grid-template-areas: "speed project player calib mosaic";
    grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr;
}

.icon-speed:before {
    content: url(../img/icon-speed.svg);
}

.icon-status-project-on:before, 
.icon-status-player-on:before, 
.icon-status-calib-on:before, 
.icon-status-mosaic-on:before, 
.icon-status-project-off:before, 
.icon-status-player-off:before, 
.icon-status-calib-off:before, 
.icon-status-mosaic-off:before {
    margin-right: 0.3em;
}

.icon-status-project-on:before, 
.icon-status-player-on:before, 
.icon-status-calib-on:before, 
.icon-status-mosaic-on:before {
    content: url(../img/icon-status-on.svg);
}

.icon-status-project-off:before, 
.icon-status-player-off:before, 
.icon-status-calib-off:before, 
.icon-status-mosaic-off:before {
    content: url(../img/icon-status-off.svg);
}

.icon-speed {
    grid-area: speed;
}

.status-project {
    grid-area: project;
}

.status-player {
    grid-area: player;
}

.status-calib {
    grid-area: calib;
}

.status-mosaic {
    grid-area: mosaic;
}

header .account {
    grid-column: 5/6;
}

.icon-log:before {
    content:url(../img/icon-log.svg);
    padding-left: 5px;
}

.grid-tabs {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: rgb(31, 33, 39);
}

.tab-playlists {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
}

.sidebar-playlists {
    grid-area: sidebar-playlists;
    margin: 25px 0 0 25px;
    display: grid;
    align-items: center;
    border: 2px solid rgba(255,255,255,0);
    min-height: calc(100vh - 90px);
    grid-row: 1/2;
    grid-column: 1/2;
    grid-template-rows: ;
}

.sidebar-playlists-new {
    display: grid;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 2px solid #36383d;
}

.sidebar-playlists-new-button {
    text-decoration: none;
}

.sidebar-playlists-new-button span:before {
    content: url(../img/icon-time.svg);
    padding-right: 5px;
}

.playlists-item {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    display: grid;
    align-items: center;
}

.playlists-item.active {
    background: rgba(51,204,255,0);
    background: -moz-linear-gradient(left, rgba(51,204,255,0) 50%, rgba(51,204,255,0.6) 100%);
    background: -webkit-linear-gradient(left, rgba(51,204,255,0) 50%, rgba(51,204,255,0.6) 100%);
    background: -o-linear-gradient(left, rgba(51,204,255,0) 50%, rgba(51,204,255,0.6) 100%);
    background: -ms-linear-gradient(left, rgba(51,204,255,0) 50%, rgba(51,204,255,0.6) 100%);
    background: linear-gradient(to right, rgba(51,204,255,0) 50%, rgba(51,204,255,0.6) 100%);
    border-right: 4px solid #2abbff;
}

.playlists-item-link {
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
}

.playlist-current {
    grid-area: playlist-current;
    margin: 25px 25px 0 0;
    border: 2px solid #2abbff;
    display: grid;
    grid-template-rows: 68px 50px 1fr;
    min-height: calc(100vh - 90px);
    grid-row: 1/2;
    grid-column: 2/3;
}

.playlist-current h2 {
    padding-left: 2em;
}

.playlist-title {
    border-bottom: 2px solid #36383d;
    display: grid;
    grid-template-columns: 1fr 68px 68px 68px;
    align-items: center;
    text-align: center;
    grid-template-rows: 100%;
}

.playlist-title h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
}

.playlist-video-add {
    grid-column: 2/3;
    grid-row: 1/2;
}

.playlist-expand {
    grid-column: 3/4;
    grid-row: 1/2;
}

.playlist-collapse {
    grid-column: 4/5;
    grid-row: 1/2;
}

.icon-add-video {
    display: block;
    height: 100%;
    height: calc(100% + 2px);
    background-image: url(../img/icon-add-video.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.icon-collapse {
    display: block;
    height: 100%;
    background-image:url(../img/icon-collapse.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.icon-expand {
    height: 100%;
    background:url(../img/icon-expand.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.icon-expand.pressed {
    background:rgba(255,255,255,0.1) url(../img/icon-expand.svg) center no-repeat;
}

.icon-collapse.pressed {
    background:rgba(255,255,255,0.1) url(../img/icon-collapse.svg) center no-repeat;
}

.playlist-items-container {
    display: grid;
    grid-template-rows: repeat(15, 120px);
}

.playlist-item {
    border-bottom: 2px solid #36383d;
    display: grid;
    grid-template-rows: 120px;
    grid-template-areas: "move poster title info trash";
    grid-template-columns: 0.15fr 0.15fr 1fr 0.4fr 0.15fr;
    align-items: center;
}

.playlist-item.active {
    background: rgba(255,255,255,0.1);
    color: #fff;
    border-bottom: none;
}

.playlist-item-move {
    grid-area: move;
    text-align: center;
}

.active .icon-move {
    content: url(../img/icon-time.svg);
    // padding-left: 8px;
}

.playlist-item-poster-play {
    grid-area: poster;
    display: grid;
    align-items: center;
    text-align: center;
    height: 100%;
}

.playlist-item-play {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 100;
}

.active .icon-play:after {
    content: url(../img/icon-time.svg);
}

.playlist-item-poster{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
}


.playlist-item-poster-play img {
    content: url('../img/poster.png');
    height: 100%;
}

.playlist-item-title {
    grid-area: title;
    padding-left: 15px;
    overflow: hidden;
}

.playlist-item-title h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.playlist-item-info {
    grid-area: info;
    display: grid;
    grid-template-rows: repeat(3, 33%);
    align-items: center;
    height: 100%;
    text-align: right;
}

.playlist-item-info-time {
    grid-column: 1/2;
    grid-row: 1/2;
}

.playlist-item-info-size {
    grid-column: 1/2;
    grid-row: 2/3;
}

.playlist-item-info-bitrate {
    grid-column: 1/2;
    grid-row: 3/4;
}

.icon-time:after {
    content: url(../img/icon-time.svg);
    padding-left: 8px;
}

.icon-size:after {
    content: url(../img/icon-size.svg);
    padding-left: 8px;
}

.icon-bitrate:after {
    content: url(../img/icon-bitrate.svg);
    padding-left: 8px;
}

.playlist-item-trash {
    grid-area: trash;
    text-align: center;
}

.active .icon-trash {
    content: url(../img/icon-time.svg);
}

.disabled {
    color: rgb(102, 102, 102);
}

.collapsed {
    grid-template-rows: repeat(15, 60px);
}

.collapsed .playlist-item-poster-play img {
    width: 50%;
    max-height: 99%;
    max-height: calc(100% - 2px);
}

.collapsed .playlist-item-info {
    grid-template-rows: repeat(1, 100%);
}

.collapsed .playlist-item-info-size, .collapsed .playlist-item-info-bitrate {
    display: none;
}

.playlist-collapse-button-bg, .playlist-expand-button-bg {
    width: 100%;
    height: 100%;
    display: none;
}

.playlist-expand-button-bg {
    grid-column: 3/4;
    grid-row: 1/2;
}

.playlist-collapse-button-bg {
    grid-column: 4/5;
    grid-row: 1/2;
}

.playlist-player {
    height: 50px;
    display: grid;
    grid-template-areas: "play stop current-position bar duration volume-icon volume-bar volume-value lock repeat full";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid #36383d;
    box-sizing: border-box;
}

.tab-link-active {

}

.tab-playlists .breadcrumb {
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 25px 0 0 25px;
    min-height: 98vh;
    min-height: calc(100vh - 108px);
    list-style: none;
    line-height: 1.5em;
}

.tab-playlists .table {
    grid-row: 1/2;
    grid-column: 2/3;
    width: calc(100% - 25px);
    margin: 25px 25px 0 0;
    border: 2px solid #2abbff;
    line-height: 1.5em;
    border-collapse: collapse;
    text-align: center;
}

.table thead tr th {
    border-bottom: 2px solid #2abbff;
}

.table tr {
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr 0.25fr 0.25fr 0.25fr;
}

.table tr td:nth-child(1), .table tr th:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
}

.table tr td:nth-child(2), .table tr th:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
}

.table tr td:nth-child(3), .table tr th:nth-child(3) {
    grid-row: 1/2;
    grid-column: 3/4;
}

.table tr td:nth-child(4), .table tr th:nth-child(4) {
    grid-row: 1/2;
    grid-column: 4/5;
}

.table tr td:nth-child(5), .table tr th:nth-child(5) {
    grid-row: 1/2;
    grid-column: 5/6;
}

.table tr td:nth-child(6), .table tr th:nth-child(6) {
    grid-row: 1/2;
    grid-column: 6/7;
}

/* .tab-playlists div {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: end;
    margin: 0 0 25px 25px;
} */

.breadcrumb li {
    padding-left: 5px;
    margin-right: 15px;
    border-left: 2px solid #2abbff;
    border-bottom: 2px solid #2abbff;
}

.breadcrumb li:nth-child(2) {
    margin-left: 5px;
}

.breadcrumb li:nth-child(3) {
    margin-left: 10px;
}

.breadcrumb li:nth-child(4) {
    margin-left: 15px;
}

.breadcrumb li:nth-child(5) {
    margin-left: 20px;
}

.breadcrumb li:nth-child(6) {
    margin-left: 25px;
}

.breadcrumb li:nth-child(7) {
    margin-left: 30px;
}

.breadcrumb li:nth-child(8) {
    margin-left: 35px;
}

.breadcrumb li:nth-child(9) {
    margin-left: 40px;
}

.breadcrumb li:nth-child(10) {
    margin-left: 45px;
}

.breadcrumb li:nth-child(11) {
    margin-left: 50px;
}

.breadcrumb li:nth-child(12) {
    margin-left: 55px;
}

.breadcrumb li:nth-child(13) {
    margin-left: 60px;
}

.breadcrumb li:nth-child(14) {
    margin-left: 65px;
}