body {
    color: #fff;
    background: #606266;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    align-items: center;
}

.flex {
    display: flex;
}

.body-conatiner {
    min-height: 100vh;
    grid-template-rows: 75px 1fr;
}


header, nav.main_tabs, .status, .grid-tabs, .account, .link-playlists, .link-more {
    width: 100%;
}

header {
    background: #131418;
    grid-template-columns: 1.1fr 1.8fr 0.5fr 4.4fr 1.4fr;
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    padding-top: 15px;
    height: 100%;
    box-sizing: border-box;
}

.logo, nav.main_tabs, .projectors-turn, .status, .account {
    grid-row: 1/2;
}

.logo {
    grid-column: 1/2;
}

.logo-img {
    content: url('../img/logo.svg');
}

nav.main_tabs {
    grid-column: 2/3;
    grid-template-areas: "playlists more";
    grid-template-columns: 1fr 0.6fr;
    height: 100%
}

nav.main_tabs a {
    text-decoration: none;
    height: 100%;
    color: #676767;
    align-items: flex-end;
}

nav.main_tabs a:not(.tab-link-active):after {
    content:'';
    width: 0;
    height: 60%;
    border: 1px solid #1f1f27;
    margin-bottom: 8%;
}

nav.main_tabs a.link-more:before {
    content: url('../img/icon-more.svg');
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 15px;
}

nav.main_tabs span {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

nav.main_tabs a.tab-link-active {
    background: #1f2127;
    color:#fff;
}

nav.main_tabs .link-playlists {
    grid-area: playlists;
}

nav.main_tabs .link-more {
    grid-area: more;
}

.projectors-turn {
    grid-column: 3/4;
}

.icon-turn-on {
    content: url('../img/icon-turn-on.svg');
}

.status {
    grid-column: 4/5;
    grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr;
}

.icon-speed:before {
    content: url('../img/icon-speed.svg');
}

.icon-status-on:before, .icon-status-off:before, .icon-status-wtf:before {
    margin-right: 0.3em;
}

.icon-status-on:before {
    content: url('../img/icon-status-on.svg');
}

.icon-status-off:before {
    content: url('../img/icon-status-off.svg');
}

.icon-status-wtf:before {
    content: url('../img/icon-status-wtf.svg');
}

.icon-speed, .status-projectors, .status-player, .status-calib, .status-mosaic {
    grid-row: 1/2;
}

.icon-speed, {
    grid-column: 1/2;
}

.status-projectors {
    grid-column: 2/3;
}

.icon-status-off, .icon-status-wtf {
    display: none;
}

.disabled .icon-status-off, .unknown .icon-status-wtf {
    display: block;
}

.disabled .icon-status-on, .unknown .icon-status-on {
    display: none;
}


.status-player {
    grid-column: 3/4;
}

.status-calib {
    grid-column: 4/5;
}

.status-mosaic {
    grid-column: 5/6;
}

.account {
    grid-column: 5/6;
}

.account-detail {
    align-items: center;
    color: #676767;
}

.account-detail a:first-child {
    margin-right: 10px;
}

.icon-log:before {
    content:url('../img/icon-log.svg');
    padding-left: 5px;
}

.grid-tabs {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: #1f2127;
    height:  100%;
}

.tab-playlists {
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 1fr;
    align-items: unset;
}

.playlists-container {
    margin: 25px 0 0 25px;
    border: 2px solid rgba(255,255,255,0);
    grid-row: 1/2;
    grid-column: 1/2;

}

.playlist-add {
    height: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #36383d;
}

.playlist-add-btn {
    text-decoration: none;
    color: #2abbff;
    text-transform: capitalize;
}

.icon-add-playlist:before {
    content: url('../img/icon-add-playlist.svg');
    padding-right: 10px;
}

.playlist {
    width: 100%;
    height: 100%;
    grid-template-columns: 30px 1fr 30px;
    text-align: center;
    color: #666;
}

.playlist-move {
    grid-column: 1/2;
    grid-row: 1/2;
    cursor: all-scroll;
}

.playlist-link {
    grid-column: 2/3;
    grid-row: 1/2;
}

.playlist-trash {
    grid-column: 3/4;
    grid-row: 1/2;
}

.playlist-trash form input {
    visibility: hidden;
}

.active .playlist-trash form input {
    width: 100%;
    border: none;
    visibility: visible;
    background-color: rgba(255,255,255,0);
    background-image: url(../img/icon-trash.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    outline: none;
    cursor: pointer;
}

.playlist.active {
    background: rgba(51,204,255,0);
    background: linear-gradient(to right, rgba(51,204,255,0) 50%, rgba(51,204,255,0.6) 100%);
    border-right: 4px solid #2abbff;
    color: #fff;
}

.playlist-link {
    height: 100%;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.playlist-link span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlist-current {
    margin: 25px 25px 0 0;
    border: 2px solid #2abbff;
    grid-template-rows: 1fr;
    grid-row: 1/2;
    grid-column: 2/3;
}

.playlist-current-title {
    grid-template-columns: 1fr 68px 68px 68px;
    text-align: center;
    grid-template-rows: 100%;
    height: 68px;
    box-sizing: border-box;
    border-bottom: 2px solid #36383d;
}

.playlist-current-title h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    padding-left: 2em;
}

.playlist-add-track {
    grid-column: 2/3;
    grid-row: 1/2;
}

.playlist-expand {
    grid-column: 3/4;
    grid-row: 1/2;
}

.playlist-collapse {
    grid-column: 4/5;
    grid-row: 1/2;
}

.playlist-current-title .icon {
    display: block;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-add-track {
    height: calc(100% - 2px);
    background-image: url('../img/icon-add-track.svg');
}

.icon-collapse {
    background-image: url('../img/icon-collapse.svg');
}

.icon-expand {
    background: url('../img/icon-expand.svg');
}

.icon-expand.pressed {
    background:rgba(255,255,255,0.1) url('../img/icon-expand.svg') center no-repeat;
}

.icon-collapse.pressed {
    background:rgba(255,255,255,0.1) url('../img/icon-collapse.svg') center no-repeat;
}

.tracks-container {
    grid-auto-rows: minmax(120px, auto);
}

.tracks-container.collapsed {
    grid-auto-rows: minmax(60px, auto);
}

.tracks-container.collapsed .track.active {
    height: 110px;
    grid-template-rows: 60px 50px;
}

.tracks-container.collapsed .track-poster-play img {
    width: 50%;
}

.tracks-container.collapsed .track-info {
    grid-template-rows: repeat(1, 100%);
}

.tracks-container.collapsed .track-info-size, .collapsed .track-info-bitrate {
    display: none;
}


.track {
    border-bottom: 2px solid #36383d;
    grid-template-columns: 0.15fr 0.15fr 1fr 0.4fr 0.15fr;
    color: #666;
    height: 100%;
    box-sizing: border-box;
}

.track.active {
    background: rgba(255,255,255,0.1);
    color: #fff;
    height: 170px;
    grid-template-rows: 120px 50px;
}

.track:first-child.active {
    border-top: none;
}

.track-move, .track-poster-play, .track-play, .track-title, .track-info {
    grid-row: 1/2;
    text-align: center;
}

.track-move {
    grid-column: 1/2;
    cursor: all-scroll;
}

.active .icon-move {
    content: url('../img/icon-move.svg');
}

.track-poster-play {
    grid-column: 2/3;
    height: 100%;
}

.track-play {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 100;
    justify-content: center;
}

.icon-play {
    width: 40%;
    height: 40%;
    display: block;
}

.active .icon-play:after {
    content: url('../img/icon-play.svg');
}

.track-poster {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
}

.track-poster-play img {
    content: url('../img/poster.png');
    max-height: 100%;
}

.track-title {
    grid-column: 3/4;
    padding-left: 15px;
    overflow: hidden;
}

.track-title h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.track-info {
    grid-column: 4/5;
    grid-template-rows: repeat(3, 33%);
    height: 100%;
    text-align: right;
}

.track-info-time {
    grid-column: 1/2;
    grid-row: 1/2;
}

.track-info-size {
    grid-column: 1/2;
    grid-row: 2/3;
}

.track-info-bitrate {
    grid-column: 1/2;
    grid-row: 3/4;
}

.track-info span:after {
    padding-left: 8px;
}

.icon-time:after {
    content: url('../img/icon-time.svg');
}

.icon-size:after {
    content: url('../img/icon-size.svg');
}

.icon-bitrate:after {
    content: url('../img/icon-bitrate.svg');
}

.active .icon-time:after {
    content: url('../img/icon-time-active.svg');
}

.active .icon-size:after {
    content: url('../img/icon-size-active.svg');
}

.active .icon-bitrate:after {
    content: url('../img/icon-bitrate-active.svg');
}

.track-trash {
    grid-column: 5/6;
}

.track-trash form input {
    visibility: hidden;
}

.active .track-trash form input {
    visibility: visible;
    background-color: rgba(255,255,255,0);
    border: none;
    width: 100%;
    background-image: url(../img/icon-trash.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    outline: none;
    cursor: pointer;
}

.disabled {
    color: #676767;
}

.playlist-collapse-button-bg, .playlist-expand-button-bg {
    width: 100%;
    height: 100%;
    display: none;
}

.playlist-expand-button-bg {
    grid-column: 3/4;
    grid-row: 1/2;
}

.playlist-collapse-button-bg {
    grid-column: 4/5;
    grid-row: 1/2;
}

.player {
    height: 50px;
    grid-template-columns: 50px 50px 0.1fr 1fr 0.1fr 50px 0.2fr 0.1fr 50px 50px 50px;
    align-items: center;
    background: #26a9e7;
}

.player>div {
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1000;
    background-size: 56%;
    background-position: center;
    background-repeat: no-repeat;
}

.player .icon:hover {
    background-color: #f7b445;
}

.player>div a {
    width: 100%;
    height: 100%;
}

.player-play {
    grid-row: 1/2;
    grid-column: 1/2;
}

.player-stop {
    grid-row: 1/2;
    grid-column: 2/3;
}

.player-current-position {
    grid-row: 1/2;
    grid-column: 3/4;
}

.player-progress-bar {
    grid-row: 1/2;
    grid-column: 4/5;
    position: relative;
    margin: 0 10px;
}

.player-duration {
    grid-row: 1/2;
    grid-column: 5/6;
}

.player-volume-icon {
    grid-row: 1/2;
    grid-column: 6/7;
}

.player-volume-bar {
    grid-row: 1/2;
    grid-column: 7/8;
}

.player-volume-value {
    grid-row: 1/2;
    grid-column: 8/9;
}

.player-lock {
    grid-row: 1/2;
    grid-column: 9/10;
}

.player-repeat {
    grid-row: 1/2;
    grid-column: 10/11;
}

.player-full {
    grid-row: 1/2;
    grid-column: 11/12;
}

.icon-play-small, .icon-pause, .icon-stop {
    background-size: 50% !important;
}

.icon-play-small {
    background-image: url('../img/icon-play-small.svg');
}

.icon-pause {
    background-image: url('../img/icon-pause.svg');
}

.icon-stop {
    background-image: url('../img/icon-stop.svg');
}

.player-volume-icon {
    background-image: url('../img/icon-volume.svg');
}

.icon-lock {
    background-image: url('../img/icon-lock.svg');
}

.icon-repeat {
    background-image: url('../img/icon-repeat.svg');
}

.icon-full {
    background-image: url('../img/icon-full.svg');
}

.bar-empty, .bar-current {
    height: 6px;
    position: absolute;
    left: 0;
    border-radius: 2px;
}

.bar-empty {
    width: 100%;
    background: #1782b4;
}

.bar-current {
    width: 0;
    background: #fff;
}

.bar-marker {
    width: 20px;
    position: absolute;
    left: 0;
    height: 20px;
    background: #26a9e7;
    border: 4px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.ui-sortable-placeholder {
    background: rgba(42,187,255,0.5);
    width: 100%;
    height: 100%;
}

.account_form {
    min-height: 100vh;
    width: 45%;
    margin: 0 auto;
    background-color: #1f2127;
}

.account_form .container {
    padding-top: 30px;
    justify-content: center;
    grid-template-rows: 60px 60px 1fr;
    grid-template-columns: 70%;
}

.account_form .container > * {
    height: 100%;
    width:  100%;
}

.account_form .header {
    align-items: center;
    justify-content: center;
}

.account_form .header h1 {
    font-size: 2.5em;
    margin: 0.2em;
}

form {
    font-size: 1.2em;
}

.form-group {
    width: 75%;
    margin: 0 auto;
}

.form-group > * {
    display: block;
    padding: 0.2em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.form-group label {
    padding: 0.3em 0;
}

.form-group .errorlist {
    color: #f00;
    font-size: 0.8em;
    list-style: none;
}

.form-small_text {
    font-size: 0.8em;
    padding: 0.4em 0;
}

a.form-small_text:hover {
    color: #2abbff;
}

.form-button {
    font-size: 1.2em;
    text-align: center;
    padding: 0.2em;
    border: 2px solid #256E93;
    margin-bottom: 0.6em;
    background: #256E93;
    outline: none;
}

.form-button:first-child {
    margin-top: 0.2em;
}

.create .form-button:first-child {
    margin-top: 0.2em;
}

a.form-button:hover {
    background: #2abbff;
}

.account_form.user-account {
grid-row: 2/3;
    grid-column: 1/2;
    width: 60%;
    min-height: unset;
    grid-template-rows: 1fr;
    grid-template-columns: 30% 70%;
    box-sizing: border-box;
    border: 2px solid #2abbff;
    height: 100%;
    align-items: normal;
}

.account_tab-links {
    grid-row: 1/2;
    grid-column: 1/2;
    min-height: calc(100vh - 79px);;
    width: 100%;
    grid-template-rows: repeat(3, 40px);
    background: #131418;
    border-right: 2px solid #2abbff;
}

.account_tab-link {
    padding-left: 10px;
    box-sizing: border-box;
    height: 100%;
}

.account_tab-link:hover {
    color: #2abbff;
}

.account_tab-link.active {
    background: linear-gradient(to right, rgba(51,204,255,0) 50%, rgba(51,204,255,0.6) 100%);
    border-right: 4px solid #2abbff;
}

.account_tab-link a {
    align-items: center;
}

.tab-container {
    grid-row: 1/2;
    grid-column: 2/3;
    min-height: calc(100vh - 79px);
}

.tab-container .header {
    height: 32px;
    line-height: 1;
    border-bottom: 2px solid #2abbff;
}

.tab-container .form-group button {
    width: 40%;
    margin: 0 auto;
}

.tab-container .form-group {
    margin-bottom: 0.6em;
}

.account-tab {
    display: none;
}

.account-tab.active {
    display: block;
}

.account_form.user-account h1 {
    font-size: 1.8em;
    text-align: center;
}

.account_form.user-account .form-group > * {
    font-size: 1.3em;
}

.account_form.user-account .form-group > input {
    font-size: 1.2em;
}