body {
    color: #FFF;
    background: #606266;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    color: #FFF;
}

ul {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    align-items: center;
}

.flex {
    display: flex;
}

.body-conatiner {
    min-height: 100vh;
    grid-template-rows: 75px 1fr;
}


header, nav.main_pages, .status, .grid-tabs, .account, .page-link-playlists, .page-link-more {
    width: 100%;
}

header, footer {
    background: #131418;
    grid-template-columns: 1.1fr 1.8fr 0.5fr 4.4fr 1.4fr;
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    padding-top: 15px;
    height: 100%;
    box-sizing: border-box;
}

footer {
    grid-template-columns: 1.1fr 7fr 1.2fr;
    grid-row: 3/4;
    padding-top: 11px;
    padding-bottom: 10px;
 }

.footer-team {
    padding-left: 15px;
    color: #676767;
    align-items: center;
}

.footer-team img {
    content: url(../img/team.svg);
}

.logo, nav.main_pages, .projectors-turn, .status, .account {
    grid-row: 1/2;
}

.logo {
    grid-column: 1/2;
}

.logo-img {
    content: url('../img/logo.svg');
}

nav.main_pages {
    grid-column: 2/3;
    grid-template-areas: "playlists more";
    grid-template-columns: 1fr 0.6fr;
    height: 100%
}

nav.main_pages a {
    text-decoration: none;
    height: 100%;
    color: #676767;
    align-items: flex-end;
}

nav.main_pages a.page-link-playlists:not(.page-link-active):before,
nav.main_pages a.page-link-more:not(.page-link-active):after
{
    content:'';
    width: 0;
    height: 60%;
    margin-bottom: 8%;
}

nav.main_pages a.page-link-playlists:not(.page-link-active):before {
    border: 1px solid #1f1f27;
}

nav.main_pages a.page-link-more:not(.page-link-active):after{
    border: 1px solid #1f1f27;
}

nav.main_pages a.page-link-more:before {
    content: url('../img/icon-more.svg');
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 15px;
}

nav.main_pages span {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

nav.main_pages a.page-link-active {
    background: #1f2127;
    color:#FFF;
}

nav.main_pages .page-link-playlists {
    grid-area: playlists;
}

nav.main_pages .page-link-more {
    grid-area: more;
}

.projectors-turn {
    grid-column: 3/4;
}

.icon-turn-off {
    content: url('../img/icon-turn-off.svg');
}

.icon-turn-on {
    content: url('../img/icon-turn-on.svg');
}

.status {
    grid-column: 4/5;
    grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.icon-speed:before {
    content: url('../img/icon-speed.svg');
}

.icon-status-on:before, .icon-status-off:before, .icon-status-wtf:before {
    margin-right: 0.3em;
}

.icon-status-on:before {
    content: url('../img/icon-status-on.svg');
}

.icon-status-off:before {
    content: url('../img/icon-status-off.svg');
}

.icon-status-wtf:before {
    content: url('../img/icon-status-wtf.svg');
}

.icon-speed, .status-projectors, .status-player, .status-calib, .status-mosaic {
    grid-row: 1/2;
}

.icon-speed{
    grid-column: 1/2;
}

.status-projectors {
    grid-column: 2/3;
}

.icon-status-off, .icon-status-wtf {
    display: none;
}

.disabled .icon-status-off, .unknown .icon-status-wtf {
    display: block;
}

.disabled .icon-status-on, .unknown .icon-status-on {
    display: none;
}


.status-player {
    grid-column: 3/4;
}

.status-calib {
    grid-column: 4/5;
}

.status-mosaic {
    grid-column: 5/6;
}

.account {
    grid-column: 5/6;
}

.account-detail {
    align-items: center;
    color: #676767;
}

.account-detail a:first-child {
    margin-right: 10px;
}

.icon-log:before {
    content:url('../img/icon-log.svg');
}

.grid-tabs {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: #1f2127;
    height:  100%;
}

.page {
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
    align-items: unset;
}

.grid-tabs aside {
    margin: 25px 0 25px 25px;
    border-top: 2px solid rgba(255,255,255,0);
    grid-row: 1/2;
    grid-column: 1/2;
    grid-template-rows: 68px 50px;
    grid-template-columns: 100%;
}

.grid-tabs .page-more aside {
    grid-template-rows: 68px repeat(4,50px);
}

.playlist-add {
    height: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #36383d;
}

.playlist-add-btn {
    text-decoration: none;
    color: #2abbff;
    text-transform: capitalize;
}

.icon-add-playlist:before {
    content: url('../img/icon-add-playlist.svg');
    padding-right: 10px;
}

.playlist, .tab-link {
    width: 100%;
    height: 100%;
    grid-template-columns: 30px 1fr 30px;
    text-align: center;
    color: #666667;
    border-right: 5px solid rgba(0,0,0,0);
    box-sizing: border-box;
}

.tab-link {
    grid-template-columns: 1fr;
}

.playlist-move {
    grid-column: 1/2;
    grid-row: 1/2;
    cursor: all-scroll;
}

.playlist-link {
    grid-column: 2/3;
    grid-row: 1/2;
}

.playlist-trash {
    grid-column: 3/4;
    grid-row: 1/2;
}

.playlist-trash form input {
    visibility: hidden;
}

.active .playlist-trash form input,
.playlist:hover .playlist-trash form input {
    width: 100%;
    border: none;
    visibility: visible;
    background-color: rgba(255,255,255,0);
    background-image: url(../img/icon-trash.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    outline: none;
    cursor: pointer;
}

.playlist.active, .tab-link.active {
    background: rgba(51,204,255,0);
    background: linear-gradient(to right, rgba(51,204,255,0) 50%, rgba(51,204,255,0.6) 100%);
    border-right: 5px solid #2abbff;
    color: #FFF;
    box-sizing: border-box;
}

.tab-link.active {
    color: #2abbff;
    font-weight: bold;
}

.tab-link:hover,
.tab-link:active {
    color: #FFF;
}

.playlist-link {
    height: 100%;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.playlist-link span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-tabs main {
    margin: 25px 25px 25px 0;
    border: 2px solid #2abbff;
    grid-row: 1/2;
    grid-column: 2/3;
    grid-template-rows: 68px 90px;
    min-height: calc(100vh - 205px);
    align-items: start;
}

.grid-tabs main.active {
    grid-template-rows: 68px 90px;
    min-height: calc(100vh - 245px);
}

.grid-tabs .page-more main {
    grid-template-rows: 68px 1fr;
}

.title {
    grid-template-columns: 1fr 68px 68px 68px;
    text-align: center;
    grid-template-rows: 100%;
    height: 68px;
    box-sizing: border-box;
    border-bottom: 2px solid #36383d;
}

.tab-content .title {
    grid-template-columns: 1fr;
    grid-row: 1/2;
}

.tab-content .tab {
    display: none;
    grid-row: 2/3;
    height: 100%;
}

.tab-content .tab.active {
    display: block;
}

.tab-content ul {
    list-style: none;
    padding: 15px;
}

.tab-content ul li {
    justify-content: space-between;
    text-transform: capitalize;
    flex-wrap: wrap;
}

.tab-content ul li form {
    width: 32%;
}

.tab-content ul li form.config {
    width: 24%;
}

.tab-content ul li form input.button {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 14px;
    width: 100%;
    text-align: center;
    border: 1px solid;
    background: #131418;
    border-radius: 7px;
    cursor: pointer;
}

.tab-content ul li:last-child input.button {
    margin-bottom: 0;
}

.tab-content ul li input.button:hover,
.tab-content ul li input.button:active {
    color: #FFF;
}

.button.disabled {
    color: #676767;
}

.tab-content ul li input.button.disabled:hover,
.tab-content ul li input.button.disabled:active {
    color: #676767;
    cursor: default;
}

.tab-content ul li input.button:focus {
    outline: none;
}

input.start {
    color: #35FF35;
}

input.stop {
    color: #FF2F2F;
}

input.state {
    color: #FF812D;
}

input.service {
    color: #2abbff;
}

.system-start-stop {
    justify-content: center;
}

.system-switch:first-child {
    margin-right: 10px;
}

.system-switch:last-child {
    margin-left: 10px;
}

.system-switch input {
    border-radius: 20px;
    font-size: 30px;
    padding: 10px 20px;
    text-decoration: none;
    background: #131418;
    border: 3px solid;
    text-transform: capitalize;
}

.system-switch input:hover {
    color: #FFF;
}

.system-switch input.start:hover {
    color: #131418;
    border-color: #FFF;
    background: #35FF35;
}

.system-switch input.stop:hover {
    background: #FF2F2F;
}

.context {
    padding: 0 15px;
}

.context p {
    border: 2px solid #131418;
    padding: 15px;
    color: #2abbff;
}

.playlist-current .title h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    padding-left: 2em;
}

.playlist-add-track {
    grid-column: 2/3;
    grid-row: 1/2;
}

.playlist-expand {
    grid-column: 3/4;
    grid-row: 1/2;
}

.playlist-collapse {
    grid-column: 4/5;
    grid-row: 1/2;
}

.playlist-current .title .icon {
    display: block;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-add-track {
    height: calc(100% - 2px);
    background-image: url('../img/icon-add-track.svg');
}

.icon-collapse {
    background-image: url('../img/icon-collapse.svg');
}

.icon-expand {
    background: url('../img/icon-expand.svg');
}

.icon-expand.pressed {
    background:rgba(255,255,255,0.1) url('../img/icon-expand.svg') center no-repeat;
    pointer-events: none;
    cursor: default;
}

.icon-collapse.pressed {
    background:rgba(255,255,255,0.1) url('../img/icon-collapse.svg') center no-repeat;
    pointer-events: none;
    cursor: default;
}

.tracks-container {
    grid-auto-rows: minmax(120px, auto);
}

.tracks-container.collapsed {
    grid-auto-rows: minmax(60px, auto);
}

.tracks-container.collapsed .track.active {
    /*height: 110px;*/
    /*grid-template-rows: 60px 50px;*/
}

.tracks-container.collapsed .track-poster-play img {
    width: 50%;
    content: url(../img/poster-tight.png);
}

.tracks-container.collapsed .track-info {
    grid-template-rows: repeat(1, 100%);
}

.tracks-container.collapsed .track-info-size, .collapsed .track-info-bitrate {
    display: none;
}


.track {
    border-bottom: 2px solid #36383d;
    grid-template-columns: 0.15fr 0.15fr 1fr 0.4fr 0.15fr;
    color: #666667;
    height: 100%;
    box-sizing: border-box;
}

.track:last-child {
    border-bottom: none;
}

.track:first-child {
    border-top: 2px solid #36383d;
}

.track:nth-child(2) {
    border-bottom: 2px solid #36383d;
}

.track:hover  .track-title {
    color: #FFF;
}

.track.active {
    background: rgba(255,255,255,0.1);
    color: #FFF;
    /*height: 170px;*/
    /*grid-template-rows: 120px 50px;*/
}

.track:first-child.active {
    border-top: none;
}

.track-move, .track-poster-play, .track-play, .track-title, .track-info {
    grid-row: 1/2;
    text-align: center;
}

.track-move {
    grid-column: 1/2;
    cursor: all-scroll;
}

.active .icon-move {
    content: url('../img/icon-move.svg');
}
.track:hover .icon-move, .playlist:hover .icon-move {
    content: url('../img/icon-move.svg');
}

.track-poster-play {
    grid-column: 2/3;
    height: 100%;
}

.track-play {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 100;
    justify-content: center;
}

.icon-play {
    width: 40%;
    height: 40%;
    display: block;
}

.active .icon-play:after {
    content: url('../img/icon-play.svg');
}

.track:hover .icon-play:after {
    /*content: url(../img/icon-play.svg);*/
}

.track-poster {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    background-color: #000;
}

.track-poster-play img {
    content: url('../img/poster.png');
    max-height: 100%;
}

.track-title {
    grid-column: 3/4;
    padding-left: 15px;
    overflow: hidden;
}

.track-title h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.track-info {
    grid-column: 4/5;
    grid-template-rows: repeat(3, 33%);
    height: 100%;
    text-align: right;
}

.track-info-time {
    grid-column: 1/2;
    grid-row: 1/2;
}

.track-info-size {
    grid-column: 1/2;
    grid-row: 2/3;
}

.track-info-bitrate {
    grid-column: 1/2;
    grid-row: 3/4;
}

.track-info span:after {
    padding-left: 8px;
}

.icon-time:after {
    content: url('../img/icon-time.svg');
}

.icon-size:after {
    content: url('../img/icon-size.svg');
}

.icon-bitrate:after {
    content: url('../img/icon-bitrate.svg');
}

.active .icon-time:after {
    content: url('../img/icon-time-active.svg');
}

.active .icon-size:after {
    content: url('../img/icon-size-active.svg');
}

.active .icon-bitrate:after {
    content: url('../img/icon-bitrate-active.svg');
}

.track-trash {
    grid-column: 5/6;
}

.track-trash form input {
    visibility: hidden;
    background-color: rgba(255,255,255,0);
    border: none;
    width: 100%;
    background-image: url(../img/icon-trash.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    outline: none;

}

.active .track-trash form input,
.track:hover .track-trash form input {
    visibility: visible;
    cursor: pointer;
}

.track-click-container {
    grid-row: 1/2;
    grid-column: 2/5;
    height: 100%;
    z-index: 1000;
    cursor: pointer;
}

.disabled {
    color: #676767;
}

.playlist-collapse-button-bg, .playlist-expand-button-bg {
    width: 100%;
    height: 100%;
    display: none;
}

.playlist-expand-button-bg {
    grid-column: 3/4;
    grid-row: 1/2;
}

.playlist-collapse-button-bg {
    grid-column: 4/5;
    grid-row: 1/2;
}

.player {
    height: 90px;
    grid-template-columns: 50px 50px 0.1fr 1fr 0.1fr 50px 0.2fr 0.1fr 50px 50px 50px;
    align-items: center;
    background: #26a9e7; 
}

.player>div {
    justify-content: center;
    align-items: center;
    height: 50px;
    z-index: 1000;
    background-size: 56%;
    background-position: center;
    background-repeat: no-repeat;
}

.player .icon:hover {
    background-color: #f7b445;
}

.player>div a:not(.bar-marker) {
    width: 100%;
    height: 100%;
}

.player-play {
    grid-row: 1/2;
    grid-column: 1/2;
}

.player-stop {
    grid-row: 1/2;
    grid-column: 2/3;
}

.player-current-position {
    grid-row: 1/2;
    grid-column: 3/4;
}

.player-progress-bar {
    grid-row: 1/2;
    grid-column: 4/5;
    position: relative;
    margin: 0 10px;
    padding: 0 5px;
}

.player-duration {
    grid-row: 1/2;
    grid-column: 5/6;
}

.player-volume-icon {
    grid-row: 1/2;
    grid-column: 6/7;
}

.player-volume-bar {
    grid-row: 1/2;
    /*grid-column: 7/8;*/
    grid-column: 7/10;
    padding-left: 10px;
    padding-right: 10px;
}

.player-volume-value {
    grid-row: 1/2;
    /*grid-column: 8/9;*/
    grid-column: 10/11;
}

.player-lock {
    grid-row: 1/2;
    grid-column: 9/10;
}

.player-repeat {
    grid-row: 1/2;
    grid-column: 10/11;
}

.player-full {
    grid-row: 1/2;
    grid-column: 11/12;
}

.icon-play-small, .icon-pause, .icon-stop {
    background-size: 50% !important;
}

.icon-play-small {
    background-image: url('../img/icon-play-small.svg');
}

.icon-pause {
    background-image: url('../img/icon-pause.svg');
}

.icon-stop {
    background-image: url('../img/icon-stop.svg');
}

.player-volume-icon {
    background-image: url('../img/icon-volume.svg');
}

.icon-lock {
    background-image: url('../img/icon-lock.svg');
}

.icon-repeat {
    background-image: url('../img/icon-repeat.svg');
}

.icon-full {
    background-image: url('../img/icon-full.svg');
}

.bar-empty, .bar-current {
    height: 6px;
    position: absolute;
    left: 0;
    border-radius: 2px;
}

.bar-empty {
    width: 100%;
    background: #1782b4;
}

.bar-marker {
    width: 20px;
    position: absolute;
    height: 20px;
    background: #26a9e7;
    border: 4px solid #FFF;
    border-radius: 100%;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;
    top: -6.5px;
    margin-left: -10px;
}

.volume-bar-marker {
    width: 20px;
    position: absolute;
    height: 20px;
    background: #26a9e7;
    border: 4px solid #FFF;
    border-radius: 100%;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;
    top: -6.5px;
    margin-left: -10px;
}

.ui-sortable-placeholder {
    background: rgba(42,187,255,0.5);
    width: 100%;
    height: 100%;
}

.account_form {
    min-height: calc(100vh - 75px);
    width: 45%;
    margin: 0 auto;
    background-color: #1f2127;
}

.account_form .container {
    padding-top: 30px;
    justify-content: center;
    grid-template-rows: 60px 60px 1fr;
    grid-template-columns: 70%;
}

.account_form .container > * {
    height: 100%;
    width:  100%;
}

.account_form .header {
    align-items: center;
    justify-content: center;
}

.account_form .header h1 {
    font-size: 2.5em;
    margin: 0.2em;
}

form {
    font-size: 1.2em;
}

.form-group {
    width: 75%;
    margin: 0 auto;
}

.form-group > * {
    display: block;
    padding: 0.2em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.form-group label {
    padding: 0.3em 0;
}

.form-group .errorlist {
    color: #f00;
    font-size: 0.8em;
    list-style: none;
}

.form-small_text {
    font-size: 0.8em;
    padding: 0.4em 0;
}

a.form-small_text:hover {
    color: #2abbff;
}

.form-button {
    font-size: 1.2em;
    text-align: center;
    padding: 0.2em;
    border: 2px solid #256E93;
    margin-bottom: 0.6em;
    background: #256E93;
    outline: none;
}

.form-button:first-child {
    margin-top: 0.2em;
}

.create .form-button:first-child {
    margin-top: 0.2em;
}

a.form-button:hover {
    background: #2abbff;
}

.account_form.user-account {
grid-row: 2/3;
    grid-column: 1/2;
    width: 60%;
    min-height: unset;
    grid-template-rows: 1fr;
    grid-template-columns: 30% 70%;
    box-sizing: border-box;
    border: 2px solid #2abbff;
    height: 100%;
    align-items: normal;
}

.account_tab-links {
    grid-row: 1/2;
    grid-column: 1/2;
    min-height: calc(100vh - 79px);;
    width: 100%;
    grid-template-rows: repeat(3, 40px);
    background: #131418;
    border-right: 2px solid #2abbff;
}

.account_tab-link {
    padding-left: 10px;
    box-sizing: border-box;
    height: 100%;
}

.account_tab-link:hover {
    color: #2abbff;
}

.account_tab-link.active {
    background: linear-gradient(to right, rgba(51,204,255,0) 50%, rgba(51,204,255,0.6) 100%);
    border-right: 4px solid #2abbff;
}

.account_tab-link a {
    align-items: center;
}

.tab-container {
    grid-row: 1/2;
    grid-column: 2/3;
    min-height: calc(100vh - 79px);
}

.tab-container .header {
    height: 32px;
    line-height: 1;
    border-bottom: 2px solid #2abbff;
}

.tab-container .form-group button {
    width: 40%;
    margin: 0 auto;
}

.tab-container .form-group {
    margin-bottom: 0.6em;
}

.account-tab {
    display: none;
}

.account-tab.active {
    display: block;
}

.account_form.user-account h1 {
    font-size: 1.8em;
    text-align: center;
}

.account_form.user-account .form-group > * {
    font-size: 1.3em;
}

.account_form.user-account .form-group > input {
    font-size: 1.2em;
}

.hidden {
    display: none;
}

#seekContainer, #volumesliderzone {
    width: 100%;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-range {
    position: absolute;
    border: 0;
    background-position: 0 0;
}

.ui-slider-horizontal .ui-slider-range-min {
    height: 6px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
    background-color: #FFF
}

.player.active {
    box-shadow: 0 10px 25px rgba(38, 169, 231, 0.25),
                0 10px 50px rgba(38, 169, 231, 0.2),
                0 -10px 25px rgba(38, 169, 231, 0.25),
                0 -10px 50px rgba(38, 169, 231, 0.2);
    height: 90px;
}

.player .played-track-name {
    /*display: none;*/
    display: block;
    grid-row: 2/3;
    grid-column: 1/12;
    color: #1f2127;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    border-top: 1px solid #fff;
}

/*.player.active .played-track-name {*/
    /*display: block;*/
/*}*/