body {
    color: rgb(255, 255, 255)
}

.grid {
    display: grid;
    grid-gap: 0em;
    grid-template-rows: 60px 1fr 120px;
}

header, nav, .status, .grid-tabs, .account, .link-playlists, .link-more {
    align-items: center;
    justify-items: center;
    width: 100%;
}

header, footer {
    background: rgb(19, 20, 24);
}

header {
    display: grid;
    grid-template-columns: 1.1fr 1.8fr 0.5fr 4.4fr 1.1fr;
    grid-row: 1/2;
    grid-column: 1/2;
    // grid-template-areas: "logo nav turn status account"; //238 170 119+1 (brdr) 148+1(brdr) 30+25+20+9+101+9++67+9+108+63+154+80+29+16+32
    text-align: left;
}

.logo, nav, .projectors-turn, .status, .account {
    grid-row: 1/2
}

header .logo {
    grid-column: 1/2;
}

.logo-img {
    content: url(../img/logo.svg);
}

header nav {
    grid-column: 2/3;
    display: grid;
    grid-template-areas: "playlists more";
    grid-template-columns: 1fr 0.6fr;
    height: 100%
}

nav .link-playlists, nav .link-more {
    text-decoration: none;
    height: 100%;
    color: rgb(102, 102, 102);
    display: flex;
    align-items: flex-end;
}

nav a:not(.tab-link-active):after {
    content:'';
    width: 0;
    height: 60%;
    border: 1px solid #1f1f27;
    margin-bottom: 8%;
}

nav a.link-more:before {
    content: url(../img/icon-more.svg);
    display: flex;
    align-items: center;
    height: 80%;
    padding-left: 15px;
}

nav .link-playlists span, nav .link-more span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

nav a.tab-link-active {
    background: rgb(31, 33, 39);
    color:#fff;

}

nav .link-playlists {
    grid-area: playlists;
}

nav .link-more {
    grid-area: more;
}

header .projectors-turn {
    grid-column: 3/4;
}

.icon-projectors-turn-on {
    content: url(../img/icon-projectors-turn-on.png);
    // width: 100%;
    // height: 100%;
}

// .icon-projectors-turn-on:before {
//     content: url(../img/icon-projectors-turn-on.svg);
// }

header .status {
    grid-column: 4/5;
    display: grid;
    grid-template-areas: "speed project player calib mosaic";
    grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr;
}

.icon-speed:before {
    content: url(../img/icon-speed.svg);
}

.icon-status-project-on:before, 
.icon-status-player-on:before, 
.icon-status-calib-on:before, 
.icon-status-mosaic-on:before, 
.icon-status-project-off:before, 
.icon-status-player-off:before, 
.icon-status-calib-off:before, 
.icon-status-mosaic-off:before {
    margin-right: 0.3em;
}

.icon-status-project-on:before, 
.icon-status-player-on:before, 
.icon-status-calib-on:before, 
.icon-status-mosaic-on:before {
    content: url(../img/icon-status-on.svg);
}

.icon-status-project-off:before, 
.icon-status-player-off:before, 
.icon-status-calib-off:before, 
.icon-status-mosaic-off:before {
    content: url(../img/icon-status-off.svg);
}

.icon-speed {
    grid-area: speed;
}

.status-project {
    grid-area: project;
}

.status-player {
    grid-area: player;
}

.status-calib {
    grid-area: calib;
}

.status-mosaic {
    grid-area: mosaic;
}

header .account {
    grid-column: 5/6;
}

.icon-log:after {
    content:url(../img/icon-log.svg);
    padding-left: 5px;
}

.grid-tabs {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: rgb(31, 33, 39);
}

.tab-playlists {
    display: grid;
    grid-template-areas: "sidebar-playlists playlist-current";
    grid-template-columns: 0.25fr 1fr;
}

.sidebar-playlists {
    grid-area: sidebar-playlists;
    margin: 1.5em 0 0 1.5em;
    display: grid;
    grid-template-rows: 68px repeat(3, 50px);
    align-items: center;
    border: 2px solid rgba(255,255,255,0);
}

.sidebar-playlists-new {
    display: grid;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 2px solid #36383d;
}

.sidebar-playlists-new-button {
    text-decoration: none;
}

.sidebar-playlists-new-button span:before {
    content: url(../img/icon-time.svg);
    padding-right: 5px;
}

.playlists-item {
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.playlist-current {
    grid-area: playlist-current;
    margin-top: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 0;
    border: 2px solid #2abbff;
    display: grid;
    grid-template-rows: 68px 50px 1fr;
}

.playlist-current h2 {
    padding-left: 2em;
}

.playlist-title {
    border-bottom: 2px solid #36383d;
    display: grid;
    grid-template-columns: 1fr 68px 68px 68px;
    align-items: center;
    text-align: center;
    grid-template-rows: 100%;
}

.playlist-title h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
}

.playlist-video-add {
    grid-column: 2/3;
    grid-row: 1/2;
}

.playlist-expand {
    grid-column: 3/4;
    grid-row: 1/2;
}

.playlist-collapse {
    grid-column: 4/5;
    grid-row: 1/2;
}

.icon-add-video {
    display: block;
    height: 100%;
    height: calc(100% + 2px);
    background-image: url(../img/icon-add-video.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.icon-collapse {
    display: block;
    height: 100%;
    background-image:url(../img/icon-collapse.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.icon-expand {
    height: 100%;
    background:url(../img/icon-expand.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.icon-expand.pressed {
    background:rgba(255,255,255,0.1) url(../img/icon-expand.svg) center no-repeat;
}

.icon-collapse.pressed {
    background:rgba(255,255,255,0.1) url(../img/icon-collapse.svg) center no-repeat;
}

.playlist-items-container {
    display: grid;
}

.playlist-item {
    border-bottom: 2px solid #36383d;
    display: grid;
    grid-template-areas: "move poster title info trash";
    grid-template-columns: 0.15fr 0.15fr 1fr 0.4fr 0.15fr;
    align-items: center;
}

.playlist-item.active {
    background: rgba(255,255,255,0.1);
    color: #fff;
    border-bottom: none;
}

.playlist-item:last-child {
    border-bottom: none;
}

.playlist-item-move {
    grid-area: move;
    text-align: center;
}

.active .icon-move {
    content: url(../img/icon-time.svg);
    // padding-left: 8px;
}

.playlist-item-poster-play {
    grid-area: poster;
    display: grid;
    align-items: center;
    text-align: center;
}

.playlist-item-play {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 100;
}

.active .icon-play:after {
    content: url(../img/icon-time.svg);
}

.playlist-item-poster{
    grid-column: 1/2;
    grid-row: 1/2;
}


.playlist-item-poster-play img {
    content: url('../img/poster.png');
    height: 100%;
}

.playlist-item-title {
    grid-area: title;
    padding-left: 15px;
}

.playlist-item-info {
    grid-area: info;
    display: grid;
    grid-template-rows: repeat(3, 33%);
    align-items: center;
    height: 100%;
    text-align: right;
}

.playlist-item-info-time {
    grid-column: 1/2;
    grid-row: 1/2;
}

.playlist-item-info-size {
    grid-column: 1/2;
    grid-row: 2/3;
}

.playlist-item-info-bitrate {
    grid-column: 1/2;
    grid-row: 3/4;
}

.icon-time:after {
    content: url(../img/icon-time.svg);
    padding-left: 8px;
}

.icon-size:after {
    content: url(../img/icon-size.svg);
    padding-left: 8px;
}

.icon-bitrate:after {
    content: url(../img/icon-bitrate.svg);
    padding-left: 8px;
}

.playlist-item-trash {
    grid-area: trash;
    text-align: center;
}

.active .icon-trash {
    content: url(../img/icon-time.svg);
}

.disabled {
    color: rgb(102, 102, 102);
}

.collapsed .playlist-item-poster-play img {
    width: 50%;
}

.collapsed .playlist-item-info {
    grid-template-rows: repeat(1, 100%);
}

.collapsed .playlist-item-info-size, .collapsed .playlist-item-info-bitrate {
    display: none;
}

.playlist-collapse-button-bg, .playlist-expand-button-bg {
    width: 100%;
    height: 100%;
    display: none;
}

.playlist-expand-button-bg {
    grid-column: 3/4;
    grid-row: 1/2;
}

.playlist-collapse-button-bg {
    grid-column: 4/5;
    grid-row: 1/2;
}

.playlist-player {
    height: 50px;
    display: grid;
    grid-template-areas: "play stop current-position bar duration volume-icon volume-bar volume-value lock repeat full";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid #36383d;
    box-sizing: border-box;
}

.tab-link-active {

}

footer {
    grid-row: 3/4;
    grid-column: 1/2;
}

.feedback-disable {
    display: none;
}