{% extends "base.html" %}

{% load static %}

{% block header %}
    <header class="grid">
        <div class="logo">
            <img class="logo-img" src="" alt="firefly"/>
        </div>
        <nav class="grid">
            <a href="{% url 'domeplaylist:track-list' playlist_id=-1 %}" class="tab-link link-playlists tab-link-active flex">
                <span class="link-playlists-text flex">Плейлисты</span>
            </a>
            <a href="{% url 'dome:index' %}" class="tab-link link-more flex">
                <span class="link-more-text flex">Еще</span>
            </a>
        </nav>
        <div class="projectors-turn">
            <span class="icon-turn-on"></span>
            <span class="icon-turn-off" style="display: none;"></span>
        </div>
        <div class="status grid">
            <span class="icon-speed"></span>
            <div class="status-project">
                <span class="icon-status-on">Проекторы</span>
            </div>
            <div class="status-player{% if vlc_state %}{% if vlc_server_state %}{% endif %}{% else %} disabled{% endif %}">
                <span class="icon-status-{% if vlc_state %}{% if vlc_server_state %}on{% endif %}{% else %}off{% endif %}">Плеер</span>
    {#            <span class="icon-status-on">Плеер</span>#}
    {#            {{ vlc_state }}#}
    {#            {{ vlc_server_state }}#}

            </div>
            <div class="status-calib disabled">
                <span class="icon-status-off">Калибровки</span>
            </div>
            <div class="status-mosaic">
                <span class="icon-status-on">Мозаика</span>
            </div>
        </div>
        <div class="account">
            <div class="account-detail flex">
                {% if user.is_authenticated %}
                    <a href="{% url 'domeuser:sign_out' %}">
                        <span class="icon icon-log"></span>
                    </a>
                    <a href="{% url 'domeuser:account' %}">{{ user.email }}</a>
                {% else %}
                    <li><a href="{% url 'domeuser:sign_in' %}">Login</a></li>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock header %}

{% block main_container %}
    <main class="grid-tabs">
        <div class="tab tab-playlists grid">
            {% block content %}{% endblock %}
            {% block aside_bar %}{% endblock aside_bar %}
            {% block main_bar %}{% endblock main_bar %}
        </div>
        <div class="tab tab-more" style="display: none"></div>
    </main>
{% endblock main_container %}

{% block footer %}
<!--<div class="panel panel-default">-->
<!--<div class="panel-body">-->
<!--<p>Copyright &copy; MadCram Ltd. 2016</p>-->
<!--</div>-->
<!--</div>-->
{% endblock footer %}

{% block js_inner_layout %}
    <script src="{% static 'domeplaylist/js/inner_layout.js' %}"></script>
{#    <script src="{% static 'domeplaylist/js/vlc_web/ui.js' %}"></script>#}

{#    $(document).ready(function () {#}

{#                updateSystemState();#}
{#    });#}

{% endblock js_inner_layout %}
