{% extends "base.html" %}

{% load static %}

{% block header %}
    <header class="grid">
        <div class="logo">
            <img class="logo-img" src="" alt="firefly"/>
        </div>
        <nav class="main_pages grid">
            <a href="{% url 'domeplaylist:track-list' playlist_id=-1 %}" class="page-link page-link-playlists flex">
                <span class="link-playlists-text flex">Плейлисты</span>
            </a>
            <a href="{% url 'dome:index' %}" class="page-link page-link-more flex">
                <span class="link-more-text flex">Еще</span>
            </a>
        </nav>
        <div class="projectors-turn">
            <div class="projectors-turn-off">
                <a href="{% url 'dome:projectors' action='start' %}">
                    <span class="icon-turn-off"></span>
                </a>
            </div>
            <div class="projectors-turn-on hidden">
                <a href="{% url 'dome:projectors' action='stop' %}">
                    <span class="icon-turn-on"></span>
                </a>
            </div>
        </div>
        <div class="status grid">
            <span class="icon-speed"></span>
            <div class="status-projectors disabled">
                <span class="icon-status-off">Проекторы</span>
                <span class="icon-status-on">Проекторы</span>
                <span class="icon-status-wtf">Проекторы</span>
            </div>
                <div id="status-player" class="status-player disabled">
                    <span id="icon-status" class="icon-status-off">Плеер</span>
                    <span id="icon-status" class="icon-status-on">Плеер</span>
                    <span id="icon-status" class="icon-status-wtf">Плеер</span>
                </div>
            <div id="status-calib" class="status-calib disabled">
                <span class="icon-status-off">Калибровки</span>
                <span class="icon-status-on">Калибровки</span>
                <span class="icon-status-wtf">Калибровки</span>
            </div>
            <div id="status-mosaic" class="status-mosaic disabled">
                <span id="mosaic-state" class="icon-status-off">Мозаика</span>
                <span id="mosaic-state" class="icon-status-on">Мозаика</span>
                <span id="mosaic-state" class="icon-status-wtf">Мозаика</span>
            </div>
        </div>
        <div class="account">
            <div class="account-detail flex">
                {% if user.is_authenticated %}
                    <a href="{% url 'domeuser:account' %}">{{ user.email }}</a>
                    <a href="{% url 'domeuser:sign_out' %}">
                        <span class="icon icon-log"></span>
                    </a>
                {% else %}
                    <li><a href="{% url 'domeuser:sign_in' %}">Login</a></li>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock header %}

{% block main_container %}
    <div class="grid-tabs">
        {% block content %}{% endblock %}
    </div>
{% endblock main_container %}

{% block footer %}
    <footer class="grid">
        <div class="logo">
            <img class="logo-img" src="" alt="firefly"/>
        </div>
        <div class="footer-team flex">
            <marquee onmouseout="this.start()" onmouseover="this.stop()" behavior="alternate"><span>Ничего не проигрывается.</span></marquee>
        </div>
        <div class="footer-team flex">
            <img src="" alt="FireFly Team, Kharkov 2017-2018" />
            <span>2018</span>
        </div>
    </footer>
{% endblock footer %}

{% block js_inner_layout %}
    <script src="{% static 'domeplaylist/js/inner_layout.js' %}"></script>
{% endblock js_inner_layout %}